<!-- <div></div> -->

<!-- <html>
  <head>
  </head>
  <body>
    <div class="div1" id="one"><div class="circle__content">T</div></div>
    <div class="div1" id="two"><div class="circle__content">E</div></div>
    <div class="div2" id="three"><div class="circle__content">I</div></div>
    <div class="div2" id="four"><div class="circle__content">X</div></div>
    <div class="div2" id="five"><div class="circle__content">N</div></div>
  </body>
</html> -->


<!-- <html>
  <head>
  </head> -->
  <!-- <body> -->
    <!-- <div class="div1" id="one"><div class="circle__content">T</div></div>
    <div class="div1" id="two"><div class="circle__content">E</div></div>
    <div class="div1" id="three"><div class="circle__content">X</div></div>
    <div class="div1" id="four"><div class="circle__content">I</div></div>
    <div class="div1" id="five"><div class="circle__content">N</div></div> -->
  <!-- </body> -->
<!-- </html> -->


<!-- <main rel='main'>
    <section role='presentation'>
      <header></header>
      <article></article>
      <button></button>
    </section>
  </main>
  <p class='credit'>
    Designed by
    <a href='https://dribbble.com/bendunn'>Ben Dunn</a>
    and coded by
    <a href='https://codepen.io/Michiel/'>Michiel Bijl</a>
  </p>
   -->

  <!-- <div id="background-wrap">
    <div class="bubble x1"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x2"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x3"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x4"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x5"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x6"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x7"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x8"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x9"><div class="circle__content">Texin Inida</div></div>
    <div class="bubble x10"><div class="circle__content">Texin Inida</div></div>
  </div> -->


  
    
    <!-- <div class="room"> -->
    
      <!-- <div class="roomHeight"  [@heightState]="heightState" > -->
     <!-- <div class="roomHeight">
      </div>
     -->
      
    <!-- <div class="roomTail" [@heightState]="heightState" >
      <br>
      <span><h2 *ngIf="h2">Welcome to </h2></span>
       <span id="title" *ngIf="h1"><h1>Texin India</h1></span>
       <span><h6 *ngIf="h6">Amarjothi Group of Companies</h6></span>
      
          <a href="#" class="fa fa-facebook" *ngIf="logo"></a>
          <a href="#" class="fa fa-twitter" *ngIf="logo"></a>
          <a href="#" class="fa fa-linkedin" *ngIf="logo"></a>
          <br>
          <a href="#" class="fa fa-youtube" *ngIf="logo"></a>
          <a href="#" class="fa fa-instagram" *ngIf="logo"></a>
    </div> -->
   <!-- </div> -->

<body>
<div class=t1>
</div>
<div class=t2>
</div>
<br>
<br>
<br>
</body>
<!-- <div class=e>
<div class=e1>
    <div class=e2>
      </div>  
    <div class=e3>
      </div>  
      <div class=e4>
        </div>    
  </div>
</div>   -->

<!-- 
<div *ngIf='showloader'  class="form-group loaderformgroup maindivdisplaynone" id="waitresponce" >
    <div class="waitresponce">
         <img src="assets/img/loader.gif" img-from="assets" alt="loader" class="waitresponceloader"/>
    </div>
</div>
 -->

