/* @import url(https://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}
html,
body{
    min-height: 100%;
    
}
body{
    
}
h1{
    display: table;
    margin: 5% auto 0;
    text-transform: uppercase;
    font-family: 'Anaheim', sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-shadow: 0 1px white, 0 2px black;
}
.container{
	margin: 4% auto;
    
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px
   }
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
}
img:hover{
    -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
} */

#industriel{
 background:url("http://www.maraloverseas.com/images/image9.jpg");
 background-repeat: no-repeat;
 background-size: auto;
}

body{
	/* background:url("https://img2.exportersindia.com/product_images/bc-full/dir_93/2781236/knitted-dyed-fabric-2321393.jpg"); */
}


p {
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
	color:black;
	margin-top:0px;
	text-align:left;
}

h4{
    display: inherit;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(226, 93, 137);
}

.flex-container {
    width: 100%;
    display: -webkit-flex;     
    display: flex; 
	font-family:"Comic Sans Ms";
	font-size: 0.85em; 
}

/* .flex-container div {
    -webkit-flex: 1; 
    -ms-flex: 1; 
		flex: 1; 
} */

/* .flex-container div.left{
    border-style: double;
	border-color: palevioletred; 
   	padding: 340px;
    text-align: left;
	float:left;
    font-size :1.25em;
	color:rgb(0, 109, 128);
	border: 2px solid #808080;
	margin-top: 0rem;
  	margin-right: auto;
  	margin-left: auto;
  	overflow: hidden;
	background:url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg);
 }


.flex-container div.right{
    border-style: double;
	border-color: palevioletred; 
   	padding: 340px;
    width: 200px;
    text-align: left;
    float:none;
    overflow: hidden;
    margin-left:30px;
	font-size :1.25em;
	color:rgb(0, 109, 128);
	border: 2px solid #808080;
	background:url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg);
} */
/* 3D Slideshow */ 
/* * {
	margin: 0;
	padding: 0;
} */


.flex-container div.right{
  border-style: double;
  border-color: palevioletred; 
  padding: 10px;
  width: 500px;
  text-align: left;
  float:right;
  color:palevioletred; 
  font-size:1.25em;
  background:url(grey-linen-texture-background.jpg);
}

.flex-container div.left{
  border-style: double;
  border-color: palevioletred; 
  padding: 10px;
  width: 400px;
  text-align: left;
  float:none;
  overflow: hidden;
  margin-left:10px;
  font-size :1.25em;
  color :black;
  background:url(grey-linen-texture-background.jpg);
}

#slideshow {
    margin-top:-100px;
	padding-top: 250px;
	height: 600px;
	width: 100%;
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}

.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}

