/* body { */
  /* background:url(img_3939.jpg); */
  /* background-size: 700px 700px; */
  /* color:pink; */
/* } */

.stage {
  overflow: hidden;
  position: absolute;
  top: 80%;
  left: 73%;
  margin: -175px 0 0 -250px;
  width: 500px;
  height: 350px;
}

.factory {
  position: absolute;
  width: 100px;
  height: 200px;
  background: #e6c747;
  transform: translate(50px, 100px);
}
.factory::before {
  background: #c6a41b;
  border-radius: 1px;
  width: 110px;
  height: 10px;
  top: -10px;
  left: -5px;
}
.factory::after {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: #c96160;
}

.magic {
  background: #b8e3f0;
  width: 40px;
  height: 45px;
  position: absolute;
  border-radius: 0 0 3px 3px;
  transform: translate(0, -60px);
}
.magic::before {
  background: #af9218;
  bottom: -5px;
  left: 20%;
  width: 60%;
  height: 5px;
}
.magic::after {
  background: #27af61;
  border-radius: 0 0 3px 3px;
  bottom: 3px;
  left: 3px;
  width: 34px;
  height: 70%;
  animation: upDown 9000ms linear infinite normal;
}

.screen {
  width: 60px;
  height: 50px;
  background-color: #415060;
  position: absolute;
  border-radius: 5px;
  border: 3px solid #fbf7e4;
  transform: translate(15px, 60px);
  overflow: hidden;
}
.screen::before, .screen::after {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 1px rgba(76, 215, 135, 0.2);
  background-color: rgba(76, 215, 135, 0.1);
  transform: translate(-100px, 0px);
  animation: moveRightPseudo 650ms linear infinite normal;
}

.band {
  position: absolute;
  width: 350px;
  height: 15px;
  background: #364451;
  border-radius: 8px;
  transform: translate(50px, 210px);
}
.band::before {
  background-image: radial-gradient(#4b5d6f 40%, rgba(0, 0, 0, 0) 41%);
  background-size: 15px 15px;
  background-position: 0px 0px;
  width: 90%;
  height: 15px;
  top: 0px;
  right: 5px;
  z-index: 2;
  animation: band 2150ms linear infinite normal;
}
.band::after {
  background: #4b5d6f;
  width: 79%;
  height: 75px;
  top: 15px;
  left: 57px;
  transform: skew(-15deg);
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 420px;
  height: 140px;
  overflow: hidden;
  transform: translate(50px, 160px);
}
ul:after {
  background: #415060;
  border-radius: 50%;
  width: 60px;
  height: 5px;
  bottom: 0px;
  right: 20px;
  z-index: 0;
}

li {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #cf7473;
  transform: translate(0px, 10px);
  transform-origin: center bottom;
  animation-name: moveRight;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
li::after {
  dsplay: block;
  width: 25px;
  height: 7px;
  background-color: #c34e4d;
  top: 5px;
  left: 5px;
}

li:nth-child(1) {
  animation-delay: 0ms;
}

li:nth-child(2) {
  animation-delay: 600ms;
}

li:nth-child(3) {
  animation-delay: 1200ms;
}

li:nth-child(4) {
  animation-delay: 1800ms;
}

li:nth-child(5) {
  animation-delay: 2400ms;
}

.ps, .factory::before, .factory::after, .magic::before, .magic::after, .screen::before, .screen::after, .band::before, .band::after, ul:after, li::after {
  content: '';
  position: absolute;
}

@keyframes moveRight {
  0% {
    transform: translate(0px, 10px);
  }
  80% {
    transform: translate(325px, 10px);
  }
  90% {
    transform: translate(330px, 13px) rotateZ(90deg);
  }
  100% {
    transform: translate(340px, 110px) rotateZ(135deg);
  }
}
@keyframes moveRightPseudo {
  0% {
    transform: translate(-50px, 6px);
  }
  100% {
    transform: translate(60px, 6px);
  }
}
@keyframes upDown {
  0% {
    height: 70%;
  }
  70% {
    height: 5%;
  }
  100% {
    height: 70%;
  }
}
@keyframes band {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}




#values{
  /* top: 40%; */
  /* padding: 30px; */
  left:100%;
  /* display: inherit; */
}

#para{
  margin-top: 5%;
  margin-left: 12%;
  /* left:10%; */
  /* padding: 100px; */
  color:white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

h4{

  display: inherit;
  font-size:22px;
  font-family: 'Times New Roman', Times, serif;
  
  color:palevioletred;

}



/* .container{ */
  /* display: flex; */
  /* margin-top:20px; */
  /* background: url(img_3914.jpg); */
  /* padding: 150px; */
  /* ,url(img_3939.jpg); */
  /* background-repeat: no-repeat,repeat; */
  /* background-repeat: repeat-x, repeat; */
  /* background-position:bottom left right top; */
  /* background-size: 1500px 1500px; */
  /* min-width: 100%; */
  /* min-height: 100%; */
  /* height:100%; */

/* } */


/* Background */


p {
    text-transform: uppercase;
    letter-spacing: .3em;
    display: inline-block;
    border: 4px double rgba(230, 91, 91, 0.438);
    border-width: 4px 0;
    padding: 2.5em 0em;
    position: absolute;
    top: 10%;
    left: 65%;
    width: 20em;
    margin: 0 0 0 -10em;
    font-size:20px;
}

span {
  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

  background: url(animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}



/* NEXT */


* {
box-sizing: border-box;
}
/* body {
 */
/* background-image: url(http://subtlepatterns.com/patterns/retina_wood.png); */
/* background-size:100%; */

/* } */
.container{
/* top:10%; */
position: relative;
width: 900px;
height: 400px;
margin: 0px auto 0;
font: 1em 'Rationale',sans-serif;
margin-left: 300px;
}
.slider, .img {
width: inherit;
height: inherit;
}
.slider {
position: relative;
overflow: hidden;
background-color: #000;
border:8px solid #eee;
border-radius: 5px;
box-shadow: 0 7px 20px rgba(0,0,0,.5);

}
.img {
position: absolute;
margin-left: -8px;
perspective: 500px;
}

/*.img1 .frag {
background: url(images/auto.jpg);
background-size: cover;
background-repeat: no-repeat;
}*/

.img1 .frag {background-image: url(IMG_3914.jpg); background-size: 900px 400px;}
.img2 .frag {background-image: url(IMG_3992.jpg); background-size: 900px 400px;}
.img3 .frag {background-image: url(IMG_4136.jpg); background-size: 900px 400px;}
.img4 .frag {background-image: url(IMG_4234.jpg); background-size: 900px 400px;}
.img5 .frag {background-image: url(IMG_4047.jpg); background-size: cover;}
.img6 .frag {background-image: url(IMG_4181.jpg); background-size: 900px 400px;}
/* .img6 .frag {background-image: url(IMG_4078.jpg); background-size: cover;}	 */

.frag {
width: 150px;
height: inherit;
float: left;
opacity: 0;
z-index: 0;
transform-origin: center right;
transform: rotateY(90deg) translateZ(100px) scale(1.5);
transition: transform .6s, opacity .6s, -webkit-filter 2s ease-out;
-webkit-filter: saturate(0) blur(10px) brightness(.6) contrast(4);
}	
.img .frag2  {
background-position: -150px 0;
transition-delay: .2s;
}
.img .frag3  {
background-position: -300px 0;
transition-delay: .4s;
}
.img .frag4  {
background-position: -450px 0;
transition-delay: .6s;
}
.img .frag5  {
background-position: -600px 0;
transition-delay: .8s;
}
.img .frag6  {
background-position: -750px 0;
transition-delay: 1s;
}
#slide1:checked ~ .slider .img1 .frag,
#slide2:checked ~ .slider .img2 .frag,
#slide3:checked ~ .slider .img3 .frag,
#slide4:checked ~ .slider .img4 .frag,
#slide5:checked ~ .slider .img5 .frag,
#slide6:checked ~ .slider .img6 .frag {
transform: rotateY(0) translateZ(0) scale(1);
-webkit-filter: saturate(1) blur(0) brightness(1) contrast(1);
opacity: 1;
z-index: 1;
}
.controls {
position: absolute;
bottom: -50px;
left: 50%; 
margin-left: -115px; /*(6elem30px+5el10px)/2=115px*/

}
.controls label {
display: block;
height: 10px;
width: 30px;
float: left;
background-color: #000;
margin-right: 10px;
cursor: pointer;
opacity: .2;
transition:opacity .5s;
}
.controls label:hover,
.side-controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6) {
opacity: .8;
}
.side-controls label {
position: absolute;
display: block;
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
top: 50%;	
margin-top: -15px;
cursor: pointer;
opacity: .2;
transition:opacity .5s;
}

#slide1:checked ~ .side-controls label:nth-of-type(6),
#slide2:checked ~ .side-controls label:nth-of-type(1),
#slide3:checked ~ .side-controls label:nth-of-type(2),
#slide4:checked ~ .side-controls label:nth-of-type(3),
#slide5:checked ~ .side-controls label:nth-of-type(4),
#slide6:checked ~ .side-controls label:nth-of-type(5) {
left: -40px;
border-right: 40px solid #000;
}
#slide1:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(3),
#slide3:checked ~ .side-controls label:nth-of-type(4),
#slide4:checked ~ .side-controls label:nth-of-type(5),
#slide5:checked ~ .side-controls label:nth-of-type(6),
#slide6:checked ~ .side-controls label:nth-of-type(1) {
right: -40px;
border-left: 40px solid #000;
}
.slider {
background-color: #000;
}
.container > input {
display:none;
}
/*.slider {
display: none;
}*/
.captions > div {
position: absolute;
right: 20px;
bottom: 7px;
color: transparent;
text-shadow: 0 0 60px transparent;
font-size: 3em;
z-index: 1;
text-transform: uppercase;
transition: text-shadow 2s;

}
#slide2:checked ~ .slider .captions .c2,
#slide1:checked ~ .slider .captions .c1,
#slide3:checked ~ .slider .captions .c3,
#slide4:checked ~ .slider .captions .c4,
#slide5:checked ~ .slider .captions .c5,
#slide6:checked ~ .slider .captions .c6 {
text-shadow: 0 0 0 rgba(255,255,255,.9)
}

body{
background: url(IMG_4131.jpg);
background-repeat: repeat no-repeat;
background-size: 1600px 1000px;
margin-top:0px;

}

.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}

.profilebox1 {
  /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
  background-position: center center;
  background-size: cover;
  perspective: 450px;
  position: relative;
 }
 
 .profilebox .SocialIcons {
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 15px;
  transform: rotateY(90deg);
  transform-origin: left center 0;
  transition: all 350ms ease;
 }
 
 .profilebox .SocialIcons a {
  background: #ffffff none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  margin-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  background-color:gainsboro;
  color:black;
 }
 
 .profilebox .SocialIcons a i {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
 }
 .profilebox .SocialIcons a:nth-child(1) {
 }
 .profilebox .SocialIcons a:nth-child(2) {
 }
 .profilebox .SocialIcons a:nth-child(3) {
 }
 .profilebox:hover .SocialIcons {
  opacity: 1;
  left: 15px;
  transform: rotateY(0deg);
 }
 .profilebox .profileInfo {
  /* background: #ffffff none repeat scroll 0 0; */
  background-color:gainsboro;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
  transform: rotatex(90deg);
  transform-origin: bottom center 0;
  transition: all 350ms ease;
  opacity: 0;
  /* margin-left:100px; */
 }
 .profilebox .profileInfo h5 {
  font-size: 20px;
  margin-left:100px;
  text-align: center;
 }
 .profilebox:hover .profileInfo {
  opacity: 1;
  bottom: 15px;
  transform: rotatex(0deg);
 }
 
 h5{
   padding: 0px;
   margin-left:60px;
   width:150px;
   color:white;
 }
 h7{
   size: 5px;
 }

