
<body *ngIf="isHome" class="profilebox profilebox1">
    
    <div class="SocialIcons">
        <a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
        <a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
        <a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
    </div>

  <div class="example-button-row">
      <button mat-fab (click)="move()">Menu</button>
  </div>

  <!-- <div id=texin> -->
    <div class="container">
            <input type="radio" name="slides" id="slide1" checked>
            <input type="radio" name="slides" id="slide2">
            <input type="radio" name="slides" id="slide3">
            <input type="radio" name="slides" id="slide4">
            <input type="radio" name="slides" id="slide5">
            <input type="radio" name="slides" id="slide6">
            
            <div class="slider">
              <div class="captions">
                <div class="c1">texin india</div>
                <div class="c2">texin india</div>
                <div class="c3">texin india</div>
                <div class="c4">texin india</div>
                <div class="c5">texin india</div>
                <div class="c6">texin india</div>
              </div>
              <div class="img img1">
                <div class="frag frag1"></div>
                <div class="frag frag2"></div>
                <div class="frag frag3"></div>
                <div class="frag frag4"></div>
                <div class="frag frag5"></div>
                <div class="frag frag6"></div>
              </div>
              <div class="img img2">
                <div class="frag frag1"></div>
                <div class="frag frag2"></div>
                <div class="frag frag3"></div>
                <div class="frag frag4"></div>
                <div class="frag frag5"></div>
                <div class="frag frag6"></div>
              </div>
              <div class="img img3">
                <div class="frag frag1"></div>
                <div class="frag frag2"></div>
                <div class="frag frag3"></div>
                <div class="frag frag4"></div>
                <div class="frag frag5"></div>
                <div class="frag frag6"></div>
              </div>
              <div class="img img4">
                <div class="frag frag1"></div>
                <div class="frag frag2"></div>
                <div class="frag frag3"></div>
                <div class="frag frag4"></div>
                <div class="frag frag5"></div>
                <div class="frag frag6"></div>
              </div>
              <div class="img img5">
                <div class="frag frag1"></div>
                <div class="frag frag2"></div>
                <div class="frag frag3"></div>
                <div class="frag frag4"></div>
                <div class="frag frag5"></div>
                <div class="frag frag6"></div>
              </div>
              <div class="img img6">
                <div class="frag frag1"></div>
                <div class="frag frag2"></div>
                <div class="frag frag3"></div>
                <div class="frag frag4"></div>
                <div class="frag frag5"></div>
                <div class="frag frag6"></div>
              </div>
            </div> <!-- koniec slidera -->
            <div class="side-controls">
              <label for="slide1"></label>
              <label for="slide2"></label>
              <label for="slide3"></label>
              <label for="slide4"></label>
              <label for="slide5"></label>
              <label for="slide6"></label>
            </div>
            <div class="controls">
              <label for="slide1"></label>
              <label for="slide2"></label>
              <label for="slide3"></label>
              <label for="slide4"></label>
              <label for="slide5"></label>
              <label for="slide6"></label>
            </div>
          </div> <!--  end of container -->
    
        <div>
    
            <p style="text-align:center">
                <b>TEXIN INDIA</b>
                <span >
                  values
                </span>
                &mdash; <b>Amarjothi Group of Companies</b> &mdash;
              </p>
          </div>
    
    
      <div id="values">
    <div id=para>
    
          <h4> Quality Assurance </h4>
    
              Our work procedure is streamline to ensure strict adherence <br>
              to quality and hygienic standards.Each and every product is <br>
              subjected to stringent quality tests to make sure that our<br>
              clients receive the best.
    
          <h4>Team </h4>
          
          Our work force comprises of highly qualified and dedicated <br>
          professionals who make every effort to manufacture zero <br>
          defect products at competitive rates.
        
          <h4>Timely Delivery</h4>
    
          Our well established in house manufacturing and dyeing facilites <br>
          enable us to make quick and on-time delivers to the complete <br>
          satisfaction of our customers.
        </div>
      </div>
    
    <div class='stage' >
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class='band'></div>
      <div class='factory'>
        <div class='magic'></div>
        <div class='screen'></div>
      </div>
    </div>
    
    <!-- </div>  -->
    <!-- </div> -->
     </body>