.room{
    margin :10px;
    height: 200px;
    width : 200px;
    background-color: black;
    border: 1px solid black;
    /* animation-direction: normal; */
}

.roomHeight{
    margin-left :300px;
    width : 700px;
    height : 200px;
    background-color:gray;
    border: 1px white;
    -webkit-animation: myfirst 5s 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s 2;
    animation-direction:alternate;

}

.roomTail{
    margin-left :450px;
    width : 400px;
    height : 600px;
    background-color:gray;
    border: 1px white;
    
}
.clear{
    clear: both;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
  }
  
  @keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
  }

/* .container {
    margin: 100px;
  }
  
  .circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    
    .container:hover & {
      transform: translateX(200px);
    }
  }
  
  .circle0 {
    extend :circle;
    background: PaleTurquoise;
    transition: all 1.5s linear;
  } 
  
  .circle1 {
    extend :circle;
    background: salmon;
    transition: all 1.5s ease;
  }
  
  .circle2 {
     extend :circle;
    background: lightskyblue;
    transition: all 1.5s ease-in;
  }
  
  .circle3 {
    extend :circle;
    background: khaki;
    transition: all 1.5s ease-out;
  }
  
  .circle4 {
    extend :circle;
    background: mediumturquoise;
    transition: all 1.5s ease-in-out;
  }
  
  .circle5 {
    extend :circle;
    background: thistle;
    transition: all 1.5s cubic-bezier(0,1,.98,0); 
  } */