<button (click)="toggleLight()"> Toggle Switch </button>
<br>
<button (click)="toggleLightParallelAnimation()"> Toggle Switch - Parallel Animation </button>
<br>
<!-- <div class="room"  (@lightsonoff.start)="aniStarted($event)" 
 (@lightsonoff.done)="aniDone($event)" [@lightsonoff]="roomstate"  [@groupTrigger]="roomstateparallel">
  Rotate Room
</div> -->

<div class="room"  (@lightsonoff.start)="aniStarted($event)" 
 (@lightsonoff.done)="aniDone($event)" [@lightsonoff]="roomstate"  >
  Rotate Room
</div>

<div class="room"  (@lightsonoff.start)="aniStarted($event)" 
 (@lightsonoff.done)="aniDone($event)"  [@groupTrigger]="roomstateparallel">
  Paralle Room

</div>


<!-- <div class="container">
    <div class="circle0"></div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
    <div class="circle5"></div>
  </div> -->


 
<button (click)="closeHeigh()"> 
    <mat-icon>close</mat-icon>
  <!-- Toggle Height  -->
</button>




  
<div class="roomHeight"  [@heightState]="heightState" >
  <p class="clear" ></p>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button mat-icon-button id="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Texinindia</span>
  </mat-toolbar>
  
  <br>
  <br>
  <br>
</div>

<div class="roomTail" [@heightState]="heightState" >
  <br>
  <br>
  <br>
  <br>
</div>

<br>
<button (click)="animateFly()"> Animate Fly </button>
<div *ngIf="showDiv" [@flyAnimation]>  TEXT FLY IN </div>

<div>
  <div >
    <p>New Product Information</p>

    <!-- <form [formGroup]="divisionCreationForm" (ngSubmit)="onSave()">  -->
  
  
      <!-- <form>  
      <div>
          <mat-form-field>
              <input formControlName = "divisionname" matInput type="text" placeholder="Division Name" 
              onkeypress             =   "if(this.value.length==30) return false ;"/>
              <mat-error>Please Provide Division Name!</mat-error>
            </mat-form-field>
      </div>
    </form>   -->
</div>
</div> 