

body { 
        font: 400 1em/1.5 "Neuton"; 
        background: #090d00; 
        color: rgba(255,255,255,.25); 
        text-align: center; 
        margin: 0 ;
        user-select: none;
      }

#heading{

    text-transform: uppercase;
    letter-spacing: .3em;
    display: inline-block;
    border: 4px double rgba(230, 91, 91, 0.438);
    border-width: 4px 0;
    padding: 2.5em 0em;
    position: absolute;
    top: 15%;
    left: 65%;
    width: 20em;
    margin: 0 0 0 -10em;
    font-size:20px;
}

h6{
  font-size:20px;
  font-style: inherit;
  font-family: 'Times New Roman', Times, serif;
  color:orangered;
}

span {
    font: 700 3em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

    background: url(animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


#example2 {
    
      border-radius: 25px;
      padding: 20px;
      opacity: 0.5;
      filter: alpha(opacity=60); 
    }
    
    .container {
      display: flex; 
      flex-wrap: wrap;
    }

    p {
        font-size:20px;
        font-style: inherit;
        font-family: 'Times New Roman', Times, serif;
        /* color:white; */
        /* color:rgb(248, 9, 140); */
        color:wheat;
      }
    
    h4{
        font-size:22.5px;
        font-style: inherit ,bold;
        font-family: 'Times New Roman', Times, serif;
        color:black;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .header {
        text-align: center;
        padding: 32px;
      }
      
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }
      
      @media (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      @media (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
       

      .texindia {
        width: 200px;
        height: 195px;
        background: url(image5.jpg) no-repeat ;
    
        margin: 50px;
    }
      
    .texindia1 {
      width: 200px;
      height: 195px;
      background: url(images.jpg) no-repeat;
      margin: 50px;
    }
     
    .texindia2 {
      width: 200px;
      height: 195px;
      background: url(image1.jpg) no-repeat;
      margin: 50px;
    }

    .texindia3 {
        width: 200px;
        height: 195px;
        background: url(image5.jpg) no-repeat;
        margin: 50px;
      }

      .texindia4 {
        width: 200px;
        height: 195px;
        background: url(image2.jpg) no-repeat;
        margin: 50px;
      }

      html {
        box-sizing: border-box;
        height: 100%;
      }
      
      *,
      *::before,
      *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }
      
      .container {
        display: flex;
        justify-content: center;
      }
      
      .thumbnails {
        display: flex;
        flex-direction: column;
        line-height: 0;
      }
      .thumbnails li {
        flex: auto;
      }
      .thumbnails a {
        display: block;
      }
      .thumbnails img {
        width: 30vmin;
        height: 20vmin;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top;
           object-position: top;
      }
      
      .slides {
        overflow: hidden;
        width: 75vmin;
        height: 100vmin;
        opacity: 0.5;
        filter: alpha(opacity=50);
      }
      .slides li {
        width: 75vmin;
        height: 100vmin;
        position: absolute;
        z-index: 1;
      }
      .slides img {
        height: 100vmin;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top;
           object-position: top;
      }
      
      .slides li:target {
        z-index: 3;
        -webkit-animation: slide 1s 1;
      }
      
      .slides li:not(:target) {
        -webkit-animation: hidden 1s 1;
      }
      
      @-webkit-keyframes slide {
        0% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
        100% {
          -webkit-transform: translateY(0%);
                  transform: translateY(0%);
        }
      }
      
      @keyframes slide {
        0% {
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
        }
        100% {
          -webkit-transform: translateY(0%);
                  transform: translateY(0%);
        }
      }
      @-webkit-keyframes hidden {
        0% {
          z-index: 2;
        }
        100% {
          z-index: 2;
        }
      }
      @keyframes hidden {
        0% {
          z-index: 2;
        }
        100% {
          z-index: 2;
        }
      }

     .example-button-row button,
      .example-button-row a {
        /* margin-right: 8px; */
        margin-left: 50px;
        color:white;
        background-color:deeppink;
        align-items: center;
      }

      .profilebox1 {
        /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
        background-position: center center;
        background-size: cover;
        perspective: 450px;
        position: relative;
       }
       
       .profilebox .SocialIcons {
        display: flex;
        flex-direction: column;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 15px;
        transform: rotateY(90deg);
        transform-origin: left center 0;
        transition: all 350ms ease;
       }
       
       .profilebox .SocialIcons a {
        background: #ffffff none repeat scroll 0 0;
        font-size: 20px;
        height: 50px;
        margin-bottom: 1px;
        position: relative;
        text-align: center;
        width: 50px;
        background-color:gainsboro;
        color:black;
       }
       
       .profilebox .SocialIcons a i {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
       }
       .profilebox .SocialIcons a:nth-child(1) {
       }
       .profilebox .SocialIcons a:nth-child(2) {
       }
       .profilebox .SocialIcons a:nth-child(3) {
       }
       .profilebox:hover .SocialIcons {
        opacity: 1;
        left: 15px;
        transform: rotateY(0deg);
       }
       .profilebox .profileInfo {
        /* background: #ffffff none repeat scroll 0 0; */
        background-color:gainsboro;
        bottom: 0;
        height: 50px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 90%;
        transform: rotatex(90deg);
        transform-origin: bottom center 0;
        transition: all 350ms ease;
        opacity: 0;
        /* margin-left:100px; */
       }
       .profilebox .profileInfo h5 {
        font-size: 20px;
        margin-left:100px;
        text-align: center;
       }
       .profilebox:hover .profileInfo {
        opacity: 1;
        bottom: 15px;
        transform: rotatex(0deg);
       }
       
       h5{
         padding: 10px;
         margin-left:60px;
         width:150px;
         color:white;
       }
       h7{
         size: 5px;
       }




      /* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
      }
      
      article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
      
      body { line-height: 1 }
      
      ol, ul { list-style: none }
      
      blockquote, q { quotes: none }
      
      blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none
      }
      
      table {
        border-collapse: collapse;
        border-spacing: 0
      }
      
      html {
        box-sizing: border-box;
        height: 100%;
      }
      
      *, *::before, *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;`
      }
      
      .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      
      .thumbnails {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 0;
      }
      
      .thumbnails li {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
      }
      
      .thumbnails a { display: block; }
      
      .thumbnails img {
        width: 30vmin;
        height: 20vmin;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
      }
      
      .slides { overflow: hidden; }
      
      .slides, .slides li {
        width: 75vmin;
        height: 100vmin;
      }
      
      .slides img {
        height: 100vmin;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
      }
      
      .slides li {
        position: absolute;
        z-index: 1;
      }
       @-webkit-keyframes 
      slide {  0% {
       -webkit-transform: translateY(-100%);
       transform: translateY(-100%);
      }
       100% {
       -webkit-transform: translateY(0%);
       transform: translateY(0%);
      }
      }
       @keyframes 
      slide {  0% {
       -webkit-transform: translateY(-100%);
       transform: translateY(-100%);
      }
       100% {
       -webkit-transform: translateY(0%);
       transform: translateY(0%);
      }
      }
      
      .slides li:target {
        z-index: 3;
        -webkit-animation: slide 1s 1;
      }
       @-webkit-keyframes 
      hidden {  0% {
       z-index: 2;
      }
       100% {
       z-index: 2;
      }
      }
       @keyframes 
      hidden {  0% {
       z-index: 2;
      }
       100% {
       z-index: 2;
      }
      }
      
      .slides li:not(:target) { -webkit-animation: hidden 1s 1; }
     */
      