<body *ngIf="isHome" class="profilebox profilebox1">
    
    <div class="SocialIcons">
        <a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
        <a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
        <a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
    </div>

    <div class="example-button-row">
        <button mat-fab (click)="move()">Menu</button>
    </div>
 <div>
   <h6 id="heading" style="text-align:center">
      <b>TEXIN INDIA</b>
          <span>
            Facilities
          </span>
         &mdash; <b>Amarjothi Group of Companies </b>&mdash;
        </h6>
  </div> 
  

  <div class="container">
      <div id="example2">
    <p>
        We have state of the art manufacturing <br> unit equipped with sophisticated
        machines <br>that enable us to execute orders of <br>any sizes as per the
        specifications<br> with on time delivery.<br>
    
    <br>
    
    
    Printing and Embroidery<br>
    Our computerized embroidery machines offer complete<br> flexibility in colours
    and designs.<br> Also we have diverse printing options,<br> which include screen
    printing and rubberized printing.<br>
    <br>
    
  
        Dyeing<br>
    We have in house Dyeing Unit with both<br> Fabrics and Solid dyeing facilities.
    <br>We use Organic, Natural, Sustainable and Environment <br>friendly dyes for our
    products.<br>
  
      <br> 
      Customization <br>
    We have sufficient facilities to manufacturing any <br> batch quantity of Home
    furnishing textiles <br>and Fabrics  to enhance the style and  <br>aesthetic appeal 
    of one's home.
    <br>
    </p> 
    </div>

            <ul class="slides">
              <!-- <li id="slide1"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw1.jpg" alt="" /></li>
              <li id="slide2"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg" alt="" /></li>
              <li id="slide3"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw3.jpg" alt="" /></li>
              <li id="slide4"><img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw4.jpg" alt="" /></li> -->
              <li id="slide5"><img src="https://www.next.co.uk/nxtcms/resource/image/646162/portrait_ratio2x3/320/480/3c00962d0436ae7bd7276b4b39da0c94/df/throws.jpg" /></li>
            </ul>
          
            <ul class="thumbnails">
              <li>
                <img src="https://www.logosoftwear.com/images_graphics/embroidery/updated/polos-1x.jpg" />
              </li>
              <li>
                <img src="https://www.florilegium.com.au/wp-content/uploads/2013/03/the-complete-guide-to-natural-dyeing-techniques-and-recipes-for-dyeing-fabrics-yarn-and-fibers-at-home.jpg" />
              </li>
              <li>
                  <img src="http://www.lakshmitextilescalicut.com/wp-content/themes/nextline_lakshmi/images/imgaa4.jpg">
                <!-- <img src="https://nclogowear.com/wp-content/uploads/2017/07/ScreenPrintingTab-1.jpg" /> -->
              </li>
              <li>
                <img src="http://sankalpartvillage.com/wp-content/uploads/2017/12/Sankalpa-Organic-dye-thumb.jpg" />
              </li>
              <li>
                  <img src="http://static.wixstatic.com/media/61d03d_56005426681c4f6e8f4557c7dba61109.jpg/v1/fill/w_639,h_414,al_c,q_80,usm_0.66_1.00_0.01/61d03d_56005426681c4f6e8f4557c7dba61109.webp" />
                  <!-- <a href="#slide5">
                    <img src="http://static.wixstatic.com/media/61d03d_56005426681c4f6e8f4557c7dba61109.jpg/v1/fill/w_639,h_414,al_c,q_80,usm_0.66_1.00_0.01/61d03d_56005426681c4f6e8f4557c7dba61109.webp" />
                  </a>   -->
              </li>
            </ul> 
      </div>
    </body>
    
     
      <!-- <div class="container">
        <ul class="slides">
          <li id="slide1"><img src="https://placeimg.com/640/853/animals"/></li>
          <li id="slide2"><img src="https://placeimg.com/640/853/arch" alt="" /></li>
          <li id="slide3"><img src="https://placeimg.com/640/853/nature" alt="" /></li>
          <li id="slide4"><img src="https://placeimg.com/640/853/people" alt="" /></li>
          <li id="slide5"><img src="https://placeimg.com/640/853/tech" alt="" /></li>
        </ul>
        <ul class="thumbnails">
          <li> <a href="#slide1"><img src="https://placeimg.com/640/853/animals" /></a> </li>
          <li> <a href="#slide2"><img src="https://placeimg.com/640/853/arch" /></a> </li>
          <li> <a href="#slide3"><img src="https://placeimg.com/640/853/nature" /></a> </li>
          <li> <a href="#slide4"><img src="https://placeimg.com/640/853/people" /></a> </li>
          <li> <a href="#slide5"><img src="https://placeimg.com/640/853/tech" /></a> </li>
        </ul>
      </div>
      </body>  -->