.room{
    margin-left :0px;  
    height: 600px;
    width : 500px;
    color :black;
    
    /* border: 1px solid black; */
    
}

.roomHeight{
    margin-left :0px;
    width : 550px;
    height : 175px;
    /* background-color:rgba(50,20,20,20); */
    border: 1px white;
    background-color: white; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right, blue,gray); Standard syntax (must be last) */
    /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwIFZ8rFfsDMix0svBASoPaSxFoE5rODukxWqRMjy2hirh_4P);  */
    /* opacity: 0.8; */
    /* filter: alpha(opacity=70); For IE8 and earlier */
    /* font-size:2em; */
    /* font-style:"color:  rgb(100, 47, 100);"; */
    
}

.roomTail{
    margin-left :105px;
    width : 300px;
    height : 625px;
    background-color: white; /* For browsers that do not support gradients */
    /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwIFZ8rFfsDMix0svBASoPaSxFoE5rODukxWqRMjy2hirh_4P);  */
    /* background-image: linear-gradient(to bottom right, pink,gray); Standard syntax (must be last) */
    border: 1px white;
    /* opacity: 0.8;
    filter: alpha(opacity=70);  */
    /* For IE8 and earlier */
    
}


.processroom{
  margin-left :0px;  
  height: 200px;
  width : 100px;
  color :black;
  
  /* border: 1px solid black; */
  
}

.processroomHeight{
  margin-top:0px;
  margin-left :460px;
  width : 150px;
  height : 075px;
  /* background-color:rgba(50,20,20,20); */
  border: 1px white;
  background-color: white; /* For browsers that do not support gradients */
  /* background-image: linear-gradient(to bottom right, blue,gray); Standard syntax (must be last) */
  /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwIFZ8rFfsDMix0svBASoPaSxFoE5rODukxWqRMjy2hirh_4P);  */
  /* opacity: 0.8; */
  /* filter: alpha(opacity=70); For IE8 and earlier */
  /* font-size:2em; */
  /* font-style:"color:  rgb(100, 47, 100);"; */
  
}

.processroomTail{
  margin-left :500px;
  width : 75px;
  height : 125px;
  background-color: white; /* For browsers that do not support gradients */
  /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwIFZ8rFfsDMix0svBASoPaSxFoE5rODukxWqRMjy2hirh_4P);  */
  /* background-image: linear-gradient(to bottom right, pink,gray); Standard syntax (must be last) */
  border: 1px white;
  /* opacity: 0.8;
  filter: alpha(opacity=70);  */
  /* For IE8 and earlier */
  
}

.clear{
    clear: both;    
}

.icon{
    margin-left     :   275px;
    margin-top      :   150px;
   
}
.span{
    margin-top      :   150px;
}
.togglebtn{
    margin-left     :   550px;
    height          :   50px;
    width           :   50px;
    /* background-color:   gray; */
    border-radius   :   50%;
    /* background-color: pink; For browsers that do not support gradients */
    /* background-image: repeating-radial-gradient(pink, violet 10%, grey 15%); Standard syntax (must be last) */
    
}

.minbtn{
  margin-top      :   0px;
  margin-left     :   600px;
  height          :   50px;
  width           :   50px;
  background-color:   gray;
  border-radius   :   50%;
}

.circle {
    
  }

  /* @import './breakpoints';
@import './theme'; */

.mat-sidenav {
    width: 150px;
  }
  .mat-sidenav-container {
    background-color: white !important;
    height: 100vh;
  }
  /* .sidenav-toolbar {
    height: 64px;
    background-color: mat-color($app-primary);
    display: flex;
    flex-direction: row;
  
    @media (max-width: 600px) {
      height: 56px;
    }
  } */
  .mat-nav-list {
    padding-top         :  055px;
    padding-left        :  175px; 
    font-size           :  20px;
    
  }

  /* .mat-nav-list:hover:not(.active) {
    background-color: red;
    color: white;
  }
   */
  /* li a:hover:not(.active) {
    background-color: #555;
    color: white;
  } */
 
  
  /*@include breakpoint-max(600px) { 
    .fixed-topnav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100% !important;
    }
   
    .mat-drawer-container {
      margin-top: 56px;
    }
  }*/

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 50%;
  }  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
  }
  
  #title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2vh;
    letter-spacing: 1px;
  }
  
   h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 40px;
    line-height: .75;
    margin: 10px 0;
  }

  
  h2,h6{
    color:purple;      

  }