
<div *ngIf="initialStatus">
<div class="room">

  <div class="roomHeight"  [@heightState]="heightState" >
   <app-menu></app-menu>
  
    <mat-sidenav #appDrawer mode="over" opened="false">
     <mat-nav-list>
       <app-menu-items *ngFor="let item of navItems" [item]="item"></app-menu-items>
     </mat-nav-list>
   </mat-sidenav>
  </div>

  
<div class="roomTail" [@heightState]="heightState" >
  <br>
  <span><h2 *ngIf="h2">Welcome to </h2></span>
   <span id="title" *ngIf="h1"><h1>Texin India</h1></span>
   <span><h6 *ngIf="h6">Amarjothi Group of Companies</h6></span>
  
      <a href="#" class="fa fa-facebook" *ngIf="logo"></a>
      <a href="#" class="fa fa-twitter" *ngIf="logo"></a>
      <a href="#" class="fa fa-linkedin" *ngIf="logo"></a>
      <br>
      <a href="#" class="fa fa-youtube" *ngIf="logo"></a>
      <a href="#" class="fa fa-instagram" *ngIf="logo"></a>
</div>

</div>
</div>


<div *ngIf="processStatus">
<div class="processroom">
      <div class="processroomHeight"  [@heightState]="heightState" >
       <app-menu></app-menu>
      
        <mat-sidenav #appDrawer mode="over" opened="false">
         <mat-nav-list>
           <app-menu-items *ngFor="let item of navItems" [item]="item"></app-menu-items>
         </mat-nav-list>
       </mat-sidenav>
      
      </div>
    
     
    
    <div class="processroomTail" [@heightState]="heightState" >
      <br>
      <span><h2 *ngIf="h2">Welcome to </h2></span>
       <span id="title" *ngIf="h1"><h1>Texin India</h1></span>
       <span><h6 *ngIf="h6">Amarjothi Group of Companies</h6></span>
      
          <a href="#" class="fa fa-facebook" *ngIf="logo"></a>
          <a href="#" class="fa fa-twitter" *ngIf="logo"></a>
          <a href="#" class="fa fa-linkedin" *ngIf="logo"></a>
          <br>
          <a href="#" class="fa fa-youtube" *ngIf="logo"></a>
          <a href="#" class="fa fa-instagram" *ngIf="logo"></a>
    </div>
    
    </div>
  </div>





<!-- <p><button kendoButton *ngIf="!opened" (click)="openClose(true)">Open</button></p>
<kendo-window [top]="100" [left]="50" title="My window" [keepContent]="true" *ngIf="opened" (close)="openClose(false)">
  <p style="text-align: center;">My content is always persisted in the DOM!</p>
</kendo-window> -->

