.title {
    text-align: center;
    color: #333;
    font: 24px Helvetica, Arial, serif;
    /* top:-500px; */
    /* left:20%; */
  }
  .creds {
    text-align: center;
    color: #666;
    font: 12px Helvetica, Arial, serif;
  }
  .creds a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
  }
  .three-d-container{
  margin:30px auto;
  width:300px;
  height:300px;
  top:-500px;
  left:20%;
  border-radius: 3px;
  position:relative;
  -webkit-perspective:1000px;
     -moz-perspective:1000px;
      -ms-perspective:1000px;
       -o-perspective:1000px;
          perspective:1000px;
  -webkit-box-shadow:0 20px 60px rgba(0,0,0,0.2),                       0 0 40px rgba(0,0,0,0.2) inset;
     -moz-box-shadow:0 20px 60px rgba(0,0,0,0.2),                       0 0 40px rgba(0,0,0,0.2) inset;
          box-shadow:0 20px 60px rgba(0,0,0,0.2),                       0 0 40px rgba(0,0,0,0.2) inset;
  }
  .three-d-cube{
  width:100%;
  height:100%;
  position:absolute;
  -webkit-transition:-webkit-transform 1s;
     -moz-transition:   -moz-transform 1s;
       -o-transition:     -o-transform 1s;
          transition:        transform 1s;
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
      -ms-transform-style:preserve-3d;
       -o-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-transform:translateZ( -150px );
     -moz-transform:translateZ( -150px );
      -ms-transform:translateZ( -150px );
       -o-transform:translateZ( -150px );
          transform:translateZ( -150px );
  }
  .three-d-cube .three-d-item{
  width:100%;
  height:100%;
  display:block;
  margin:0;
  position:absolute;
  }
  .three-d-cube .three-d-item img{
  width:100%;
  height:100%;
  display:block;
  margin:0;
  }
  .three-d-item:nth-child(1){
  -webkit-transform:rotateY(   0deg ) translateZ( 150px );
     -moz-transform:rotateY(   0deg ) translateZ( 150px );
      -ms-transform:rotateY(   0deg ) translateZ( 150px );
       -o-transform:rotateY(   0deg ) translateZ( 150px );
          transform:rotateY(   0deg ) translateZ( 150px );
  }
  .three-d-item:nth-child(2){
  -webkit-transform:rotateX( 180deg ) translateZ( 150px );
     -moz-transform:rotateX( 180deg ) translateZ( 150px );
      -ms-transform:rotateX( 180deg ) translateZ( 150px );
       -o-transform:rotateX( 180deg ) translateZ( 150px );
          transform:rotateX( 180deg ) translateZ( 150px );
  }
  .three-d-item:nth-child(3){
  -webkit-transform:rotateY(  90deg ) translateZ( 150px );
     -moz-transform:rotateY(  90deg ) translateZ( 150px );
      -ms-transform:rotateY(  90deg ) translateZ( 150px );
       -o-transform:rotateY(  90deg ) translateZ( 150px );
          transform:rotateY(  90deg ) translateZ( 150px );
  }
  .three-d-item:nth-child(4){
  -webkit-transform:rotateY( -90deg ) translateZ( 150px );
     -moz-transform:rotateY( -90deg ) translateZ( 150px );
      -ms-transform:rotateY( -90deg ) translateZ( 150px );
       -o-transform:rotateY( -90deg ) translateZ( 150px );
          transform:rotateY( -90deg ) translateZ( 150px );
  }
  .three-d-item:nth-child(5){
  -webkit-transform:rotateX(  90deg ) translateZ( 150px );
     -moz-transform:rotateX(  90deg ) translateZ( 150px );
      -ms-transform:rotateX(  90deg ) translateZ( 150px );
       -o-transform:rotateX(  90deg ) translateZ( 150px );
          transform:rotateX(  90deg ) translateZ( 150px );
  }
  .three-d-item:nth-child(6){
  -webkit-transform:rotateX( -90deg ) translateZ( 150px );
     -moz-transform:rotateX( -90deg ) translateZ( 150px );
      -ms-transform:rotateX( -90deg ) translateZ( 150px );
       -o-transform:rotateX( -90deg ) translateZ( 150px );
          transform:rotateX( -90deg ) translateZ( 150px );
  }
  .a:checked ~ .three-d-cube{
  -webkit-transform:translateZ( -150px ) rotateY(    0deg );
     -moz-transform:translateZ( -150px ) rotateY(    0deg );
      -ms-transform:translateZ( -150px ) rotateY(    0deg );
       -o-transform:translateZ( -150px ) rotateY(    0deg );
          transform:translateZ( -150px ) rotateY(    0deg );
  }
  .b:checked ~ .three-d-cube{
  -webkit-transform:translateZ( -150px ) rotateX( -180deg );
     -moz-transform:translateZ( -150px ) rotateX( -180deg );
      -ms-transform:translateZ( -150px ) rotateX( -180deg );
       -o-transform:translateZ( -150px ) rotateX( -180deg );
          transform:translateZ( -150px ) rotateX( -180deg );
  }
  .c:checked ~ .three-d-cube{
  -webkit-transform:translateZ( -150px ) rotateY(  -90deg );
     -moz-transform:translateZ( -150px ) rotateY(  -90deg );
      -ms-transform:translateZ( -150px ) rotateY(  -90deg );
       -o-transform:translateZ( -150px ) rotateY(  -90deg );
          transform:translateZ( -150px ) rotateY(  -90deg );
  }
  .d:checked ~ .three-d-cube{
  -webkit-transform:translateZ( -150px ) rotateY(   90deg );
     -moz-transform:translateZ( -150px ) rotateY(   90deg );
      -ms-transform:translateZ( -150px ) rotateY(   90deg );
       -o-transform:translateZ( -150px ) rotateY(   90deg );
          transform:translateZ( -150px ) rotateY(   90deg );
  }
  .e:checked ~ .three-d-cube{
  -webkit-transform:translateZ( -150px ) rotateX(  -90deg );
     -moz-transform:translateZ( -150px ) rotateX(  -90deg );
      -ms-transform:translateZ( -150px ) rotateX(  -90deg );
       -o-transform:translateZ( -150px ) rotateX(  -90deg );
          transform:translateZ( -150px ) rotateX(  -90deg );
  }
  .f:checked ~ .three-d-cube{
  -webkit-transform:translateZ( -150px ) rotateX(   90deg );
     -moz-transform:translateZ( -150px ) rotateX(   90deg );
      -ms-transform:translateZ( -150px ) rotateX(   90deg );
       -o-transform:translateZ( -150px ) rotateX(   90deg );
          transform:translateZ( -150px ) rotateX(   90deg );
  }
  .three-d-bullet{
  margin:350px 10px 0 0;
  float:left;
  }
  .three-d-bullet:first-child{
  margin:350px 10px 0 88px;
  }
  

  container {
        display: flex;
        

        /* top:-20px; */
        /* background: url(img_3938.jpg); */
        /* background-repeat: no repeat; */
      }
      
      
#hotel{
        
        /* margin: 60px; */
        /* border: 25px; */
        /* background:rgba(0, 0, 0,0.5); */
        padding: 30px;
        /* opacity: 0.7; */
        /* filter: alpha(opacity=70);  */
      
        /* border-block-start:20%; */

}

  h4{

    display: inherit;
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
    color:lawngreen;
}

p{
    display: inherit;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
body{
    background: url(Deluxe-king-room2.jpg);
    background-position: right bottom,left top;
    background-repeat: no-repeat,repeat;
    background-size: 1600px 1200px;
    /* height: 100%; */
}
.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}