<!-- <html> -->
   <body *ngIf="isHome">
      <div class="example-button-row">
           <button mat-fab (click)="move()">Menu</button>
      </div>
          
   <div id="container" >
        <div id="hotel" style="flex-grow:4">
    <p >
      We offer a wide array of-eco-friendly clothing for uniforms and other institutional needs.
    </p>
    <h4> Bed Sheets</h4>
    <p>
      We manufacture fancy bed sheets to the changing needs of the hotel industry with<br> multicolor 
      hues and embroidering of logos, emblems etc, to ensure publicity value and <br> create a uniforms 
      corporate image.
    </p>
    <br>
    <h4> Pillow Covers</h4>
    <p>
      Our pillow covers are made of soft all natural cotton or cotton blends to ensure <br> 
      comfort and a natural feel to the user. Pillow covers are available in <br> different size to
      suit the  varied sizes to pillow.
    </p>
    <br>
    <h4> Terry Towel</h4>
    <p>
      Any desired conbination in yarn for terry towels can be produced based on buyer's <br>
      specifications,pattern or sample. highly absorbent and long lasting <br>
      in plain, jacquard,stripes,checks,embroidery and printed with or without.<br>
    </p>
    </div>
    </div>
     
    <!-- <h1 class="title">Hotels</h1> -->
    
    <section class="three-d-container" style="flex-grow:5">
     
                <input type="radio" checked class="three-d-bullet a" name="three-d">
                <input type="radio" class="three-d-bullet b" name="three-d">
                <input type="radio" class="three-d-bullet c" name="three-d">
                <input type="radio" class="three-d-bullet d" name="three-d">
                <input type="radio" class="three-d-bullet e" name="three-d">
                <input type="radio" class="three-d-bullet f" name="three-d">
                <div class="three-d-cube">
                    <figure class="three-d-item">
                        <img src="http://o2-web.net/wp-content/uploads/contemporary-duvet-covers-and-sets-orange-white-bedding-reversible-orange-and-white-bedding.jpg" alt="">
                    </figure>
                    <figure class="three-d-item">
                        <img src="https://www.fortytwo.sg/media/catalog/product/cache/1/image/2500x/9df78eab33525d08d6e5fb8d27136e95/s/h/sh_design_9_-_pic_2_pillow_case_.jpg" alt="">
                    </figure>
                    <figure class="three-d-item">
                        <img src="https://stylesatlife.com/wp-content/uploads/2018/05/Terry-towel-for-baby.jpg" alt="">
                    </figure>
                    <figure class="three-d-item">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/A1hVW1LAEZL._SX425_.jpg" alt="">
                    </figure>
                    <figure class="three-d-item">
                        <img src="https://www.windsorhoteldelnorte.com/wp-content/uploads/2016/04/Dining-Room-TableCropped2.jpg" alt="">
                    </figure>
                    <figure class="three-d-item">
                        <img src="https://www.fourseasons.com/alt/img-opt/~70.1530.0,0000-432,8407-3000,0000-1687,5000/publish/content/dam/fourseasons/images/web/DAM/DAM_074_original.jpg" alt="">
                    </figure>
                </div>
            </section>
        </body>
          <!-- </html> -->