
<!-- <body *ngIf="isHome" class="profilebox profilebox1"> -->
    <body *ngIf="isHome" class="profilebox profilebox1">
    
    <div class="SocialIcons">
        <a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
        <a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
        <a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
    </div>

    <div class="example-button-row">
        <button mat-fab (click)="move()">Menu</button>
    </div>
    
      
<div id="CrossFade">
    <img src="https://2.imimg.com/data2/NI/TK/MY-4854248/bobbin-thread.jpg" alt="img"/>
    <img src="https://4.imimg.com/data4/SY/KD/ANDROID-30522377/product-500x500.jpeg" alt="img"/>
    <img src="https://cdn.shopify.com/s/files/1/2263/7579/files/Marnie_FINAL_For_Email_2048x.jpg" alt="img"/>
    <img src="https://ae01.alicdn.com/kf/HTB1jfG0If5TBuNjSspmq6yDRVXaB/5pcs-unisex-newborn-set-cotton-letter-print-short-sleeves-rompers-0-24m-infant-baby-boy-clothes.jpg" alt="img"/>
    <img src="https://www.croissantcustom.com/images/Ld8o9amr1s6U/women-dresses-grey-cashmere-include-melange-knitted-dress-in-knitted-Fabulous-2S8J.jpg"  alt="img"/>
  
    <!-- <div class="intro">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis impedit facilis nesciunt quam vitae voluptatibus ullam vero.</p>
  </div> -->
</div>
<br>

    <div>
      <p style="text-align:center">
          <b>TEXIN INDIA</b>
          <span >
            About us
          </span>
          &mdash; <b>Amarjothi Group of Companies</b> &mdash;
        </p>
    </div>


    <div class="container">
           
            <div class=p1>

            Texin India, is a part of the Amarjothi Spinning Mills Limited, 
            manufacturers of melange yarn in Tirupur, is actively engaged in
            manufacturing and trading world class textile products for Hospitals,
            Hotels,Industries and Educational Institutions.<br>
            <br>

            We manufacture Hospital  and Hotel linen customized to any size , any color
            and any blend (100% Cotton, Polyester and Viscose blends).<br>
            <br>

          
            Since 1998, we are committed to excellence both in quality and timely delivery.<br>
            <br>

            Quality checks of various parameters like durability, color  fastness and 
            designs ensure the perfect product reaches the customers every time.<br>
            <br>

            By maintaining a healthy relationship with C & F agents and transportation
            authorities, we assure delivery  as per schedule.<br>
            <br>
          </div>
          
          </div>
        </body>
          