* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: calc(0.5vw + 1vh + 0.5vmin);
}
body {
  font: 100 50%/1.5 'Roboto', sans-serif;
}
.intro {
  position: relative;
  margin: 2em;
  padding: 0.2em 0.6em;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  max-width: 26em;
}
.intro h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 100;
}
#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 125px;
}
#CrossFade img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height:100%;
  background: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.4) rotate(12deg);
          transform: scale(1.4) rotate(12deg);
  -webkit-animation: CrossFade 24s infinite;
          animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
/* 

$duration = 12
$slides = 4
$step = $duration/$slides
setDelayRevers($duration, $slides)
  
  for index in (2..$slides)
    &:nth-child({index -1}) 
      animation-delay ($step*index)s

#CrossFade
  height 100vh
  overflow hidden
  position relative
  
  display flex
  img
    align-self center
    position absolute
    
    min-width 100%
    min-height 100%
    height auto
    
    backface-visibility hidden
    opacity 0
  
    transform scale(1.4) rotate(12deg)
    animation CrossFade ($duration)s infinite 
    setDelayRevers($duration, $slides)   
@keyframes CrossFade
  25%
    opacity 1
    transform scale(1) rotate(0)
  40%
    opacity 0
    
*/
@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}

/* ------------- */

p {
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  border: 4px double rgba(230, 91, 91, 0.438);
  border-width: 4px 0;
  padding: 2.5em 0em;
  position: absolute;
  top: 10%;
  left: 75%;
  width: 20em;
  margin: 0 0 0 -10em;
  font-size:20px;
}

span {
font: 700 3em/1 "Oswald", sans-serif;
letter-spacing: 0;
padding: .25em 0 .325em;
display: block;
margin: 0 auto;
text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

background: url(animated_text_fill.png) repeat-y;
-webkit-background-clip: text;
background-clip: text;

/* Animate Background Image */

-webkit-text-fill-color: transparent;
-webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

-webkit-transform: translate3d(0,0,0);
-webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}



/* #leftdiv{
  
  border-radius: 25px;
  background:rgb(250, 90, 117);
  opacity: 0.6;
  filter: alpha(opacity=60); 
} */
.container {
  display: flex; 
  /* flex-wrap: wrap; */
}

.p1 {
  display: inherit;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 35em;
  margin: 5px;
  font-size:20px;
  font-family: 'Times New Roman', Times, serif;
  text-align:"justify";
  color:white;

  border: 25px;
  background:rgba(0, 0, 0,0.5);
  
  /* opacity: 0.6; */
  /* filter: alpha(opacity=60);  */
}

.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,400,500,600,700,800');
*, *:before, *:after {
 box-sizing: border-box !important;
}
/* body {
 color: #6b6b6b;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 line-height: 24px;
} */
/* .profilebox {
 width: 300px;
 height: 350px;
 background: #eee;
 cursor: pointer;
 float: left;
 margin: 30px;
} */
.profilebox1 {
 /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
 background-position: center center;
 background-size: cover;
 perspective: 450px;
 position: relative;
}

.profilebox .SocialIcons {
 display: flex;
 flex-direction: column;
 left: 0;
 opacity: 0;
 position: absolute;
 top: 15px;
 transform: rotateY(90deg);
 transform-origin: left center 0;
 transition: all 350ms ease;
}

.profilebox .SocialIcons a {
 background: #ffffff none repeat scroll 0 0;
 font-size: 20px;
 height: 50px;
 margin-bottom: 1px;
 position: relative;
 text-align: center;
 width: 50px;
 background-color:gainsboro;
}

.profilebox .SocialIcons a i {
 left: 50%;
 position: absolute;
 top: 50%;
 transform: translateX(-50%) translateY(-50%);
}
.profilebox .SocialIcons a:nth-child(1) {
}
.profilebox .SocialIcons a:nth-child(2) {
}
.profilebox .SocialIcons a:nth-child(3) {
}
.profilebox:hover .SocialIcons {
 opacity: 1;
 left: 15px;
 transform: rotateY(0deg);
}
.profilebox .profileInfo {
 /* background: #ffffff none repeat scroll 0 0; */
 background-color:gainsboro;
 bottom: 0;
 height: 50px;
 left: 0;
 margin: 0 auto;
 position: absolute;
 right: 0;
 width: 90%;
 transform: rotatex(90deg);
 transform-origin: bottom center 0;
 transition: all 350ms ease;
 opacity: 0;
 /* margin-left:100px; */
}
.profilebox .profileInfo h5 {
 font-size: 20px;
 margin-left:100px;
 text-align: center;
}
.profilebox:hover .profileInfo {
 opacity: 1;
 bottom: 15px;
 transform: rotatex(0deg);
}

h5{
  padding: 10px;
  margin-left:60px;
  width:150px;
}
h7{
  size: 5px;
}

  
