<mat-toolbar color="primary" class="mat-elevation-z1" *ngIf="menuStatus">
    <!-- <button mat-icon-button id="menu"  class="icon" (click)="navService.openNav()"> -->
    <button mat-icon-button id="menu"  class="icon" >
      <mat-icon *ngIf="menu" (click)="openTopNav()">menu</mat-icon >
      <mat-icon *ngIf="menuClsStatus" (click)="closeMenu()">close</mat-icon>
    </button>
    <!-- <span class="span"> Texin India</span> -->
</mat-toolbar>

<!-- <html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Drop Menu</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <p class="commander">Click the Button!</p>
  <div class="wrapper">
    <div class="menu">
      <ul class="menu__list">
        <li class="menu__list__item"><a href="#">Home</a></li>
        <li class="menu__list__item"><a href="#">Portfolio</a></li>
        <li class="menu__list__item"><a href="#">About</a></li>
      </ul>
    </div>
    <div class="button">
      <span class="button__line"></span>
      <span class="button__line"></span>
      <span class="button__line"></span>
    </div>
  
  </div>
</body>
</html> -->