


/* slide show */

body {

    background: url(colorful-pens-pencils_23-2147650791.jpg);
    width: 1400px;
    height: 1000px;

  }
  
  #slideshow {
    overflow: hidden;
    height: 700px;
    width: 720px;
    /* margin: 0 auto; */

    position: absolute;
    top: 20%;
    left: 95%;
    /* width: 35em; */
    margin: 5px;
    
  }
  
  .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 10s ease infinite;
  }
  
  .slide {
    float: left;
    height: 500px;
    width: 720px;
  }
  
  .slide:nth-child(1) {
    /* background: rgb(233, 232, 232); */
    background: url(school-uniform.png);
    /* background-size: 720px 500px; */
  }
  
  .slide:nth-child(2) {
    background: url(img_4224.jpg);
    background-size: 720px 500px;
  }
  
  .slide:nth-child(3) {
    background: url(PPTEAPKE0003-BLM3-HORIZON.jpg);
    background-size: 720px 500px;
  }
  
  .slide:nth-child(4) {
    background: url(bed.jpg);
    background-size: 720px 500px;
  }

  /* .slide:nth-child(5) { */
    /* background: url(https://www.china-socksmanufacturer.com/upfile/product/world-largest-school-socks-manufacturer,wholesale-custom-logo-of-school-socks-production.png); */
  /* }  */

 /* .slide:nth-child(6) { */
    /* background: url(https://ae01.alicdn.com/kf/HTB1k23aMXXXXXXCXVXXq6xXFXXXD/Flannel-Backed-Vinyl-PVC-Plastic-Waterproof-Table-Cloth-Spread-Cover-Rectangular-Square-Round-106-265cm-4.jpg_640x640.jpg); */
  /* } */

  
  
  .slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
  }
  
  @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
  }
  

  .container {
    display: flex; 
     position: absolute;
    /* top: 5%; */
    /* padding:20%; */
    /* left: 5%; */
    /* min-width: 100%; */
  
    /* height:100%; */
  
    /* background: url(https://image.freepik.com/free-photo/colorful-pens-pencils_23-2147650791.jpg); */
    /* background-repeat: no-repeat,repeat;   */
    /* background-size: 1600px 1200px; */
  }

  para{
    /* position: absolute; */
    /* top: 10%; */
    /* left: 5%; */
    /* margin: 5px; */
    /* border: 25px; */
    padding: 20%;
    /* background:rgba(0, 0, 0,0.5); */
       /* opacity: 0.6; */
    /* filter: alpha(opacity=60);  */

  }
  
  p {
    display: inherit;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}

h4{
    display: inherit;
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(226, 93, 137);
}

.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}
