
<body *ngIf="isHome">
    <div class="example-button-row">
        <button mat-fab (click)="move()">Menu</button>
    </div>

<div class="container">
    <div class="para" style="flex-grow:5">
   <p>
   
     We  offer a wide array of eco-friendly clothing for <br> uniforms and other
     institutional needs.
   
   </p>
   
   
   <h4>Hostel Bed Sheets</h4>
   <p>
   
     The entire range of bed sheets can be customized on varied <br> parameters
     to cater to the requirement of customers.
   
   </p>
   
   <h4>Pillow Covers</h4>
   <p>
   
     Pillow covers are made from soft and luxurious fabric <br> that provide 
     ultimate comfort in a wide range.
   
   </p>
   
   <h4>Uniforms</h4>
   <p>
   
     Corporate and School uniforms form  a comprehensive range <br> with color
     fastness, high tear strength and aesthetic looks.
   
   </p>
   
   <h4>Sportswear</h4>
   <p>
   
     Our range of sportswear is manufactured with colorful <br> melange yarn
     from Amarjothi Spinning Mills Ltd, the parent company.
   
   </p>
   
   <h4>Socks</h4>
   <p>
   
     We produce high quality socks in various colors and blends.
   
   </p>
   
   <h4>Table Spread</h4>
   <p>
   
     Our table cloth in fresh color combinations and diversified <br> patters are 
     available in 100% cotton and blends, to match any decor or ambience.
   
   </p>
   
   <h4>Towels</h4>
   <p>
   
     We offer a colorful range of towels in various color combinations, <br>
     designs, pattern and size depending upon their usage.
     
   </p>
   
    
   </div>
   
   <!-- Slide show -->
   
   <div id="slideshow" style="flex-grow:5">
     <div class="slide-wrapper">
       <div class="slide">
         <!-- <h1 class="slide-number"></h1> -->
       </div>
       <div class="slide">
         <!-- <h1 class="slide-number"></h1> -->
       </div>
       <div class="slide">
         <!-- <h1 class="slide-number"></h1> -->
       </div>
       <div class="slide">
         <!-- <h1 class="slide-number"></h1> -->
       </div>
       <div class="slide">
         <!-- <h1 class="slide-number"></h1> -->
       </div>
       <!-- <div class="slide"> -->
          <!-- <h1 class="slide-number"></h1> -->
        <!-- </div> -->
        <!-- <div class="slide"> -->
            <!-- <h1 class="slide-number"></h1> -->
          <!-- </div> -->
     </div>
   </div>
   </div>
  </body>
   <!-- <h1>Just a simple slideshow. CSS only, no JS</h1> -->