<body>

    <h1>
      <div id="header">Quality First</div> 
     </h1>
  
     <div class="container">
          <div id="example2" style="flex-grow:5">
          <p>At Texin India, It is our constant endeavor to <br>
             manufacture products by maintaining highest standards <br>
             of quality in the  production process.<br>
             <br>
             Our ultimate aim is to provide valid and reliable product<br>
             that ensure customer satisfaction.<br>
             <br>
             We continuously upgrade our knew - how and  <br>
             infrastructure to cater to the needs of current and <br>
             future customers.<br>
          </p>
        </div>
          <!-- <div class="image"> -->
          <div class="texindia" style="flex-grow:5" ></div>       
            <!-- </div> -->
  
      </div>
  
    
  
   <h2>
      <div id="header">Passion To Excel</div> 
   </h2>
  
   <div class="container">
       <div id="example1" style="flex-grow: 5">
      <p>We are committed to manufacture world class hotel and   <br>
        hospital linen while pursuling highest Standards of <br>
        excelience.<br>
          <br>
          Our focus lies in our passion to look beylond,<br>
          taking a long -term  view to satistfy our clientele.<br>
          <br>
          By being loyal and devoted  to our line  of work,<br>
          We and value to the service offered to our coustomers.
        </p>
   
      </div>
  
      <!-- <div class="image"> -->
        <div class="texindia1" style="flex-grow: 5"></div>       
          <!-- </div> -->
  
      </div>
  
    
  
      <h3>
          <div id="header">Core Values</div> 
       </h3>
    
       <div class="container">
           <div id="example" style="flex-grow: 5">
          <p>At the core of Texin India's strength and successes,<br>
            have been the stanch set of values that have been a <br>
            guiding force in all that we do as an organization <br>
            and have shaped us into what we are.<br>
            <br>
            Positive core values empower us to ensure the credibility<br>
            of our organization in the eyes of the customers.<br>
            <br>
            Our main core value is integrity in every things we do.<br>
            </p>
   
          </div>
  
          <!-- <div class="image"> -->
            <div class="texindia2" style="flex-grow: 5"></div>       
              <!-- </div> -->
      
          </div>
        </body>
          
  
   
  
   