


div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  #example{
    /* border: 1px solid black;
    padding:20px; */
  
    border-radius: 25px;
    background: rgb(241, 180, 189);
    /* background: rgb(155, 152, 152); */
    /* background-position: left top; */
    padding: 20px;
    opacity: 0.5;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width  : 200px;
  }
  #example1{
    /* border: 1px solid black;
    padding: 20px;  */
  
    border-radius: 25px;
    background: rgb(241, 180, 189);
    /* background: rgb(155, 152, 152); */
    /* background-position: left top; */
    padding: 20px;
    opacity: 0.5;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width  : 200px;
  }
  #example2 {
  /*  
    border: 1px solid black;
    padding: 20px;  */
  
    border-radius: 25px;
    /* background:rgb(253, 198, 207); */
    background: rgb(241, 180, 189);
    /* background: whitesmoke; */
    /* background-position: left top; */
    padding: 20px;
    opacity: 0.5;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width  : 200px;
  }
  
  .container {
    display: flex; 
    /* background: url(img_3938.jpg); */
    /* background-repeat: no repeat; */
  }
  
  
  #header:first-of-type{
    animation: showup 2s infinite ;
    
    color: white;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.4px;
    /* font-family: "Raleway", sans-serif; */
    font-family:'Times New Roman', Times, serif;
  }
  
  /* div:first-of-type {    
    animation: showup 5s infinite ;
  } */
  
  #header:last-of-type {
    width:0px;
    animation: reveal 2s infinite ;
    color: white;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.4px;
    /* font-family: "Raleway", sans-serif; */
    font-family:'Times New Roman', Times, serif;
  
  }
  
  /* div:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  } */
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  /* @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  } */
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
  p {
    font-size:22.5px;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    color:black;
  }
  
  /* IMAGES */
  
    .texindia {
      width: 300px;
      height: 195px;
      background: url(image5.jpg) no-repeat,repeat ;
  
      margin: 50px;
     }
    .texindia:hover {
      background: url(image4.jpg) no-repeat;
    
     }
  
  
    
  .texindia1 {
    width: 200px;
    height: 195px;
    background: url(images.jpg) no-repeat;
    margin: 50px;
  }
  .texindia1:hover {
    background: url(image2.jpg) no-repeat;
  }
    
  .texindia2 {
    width: 200px;
    height: 195px;
    background: url(image1.jpg) no-repeat;
    margin: 50px;
  }
  .texindia2:hover {
    background: url(image3.jpg) no-repeat;
  }
    
  
  
  body{
  
    background-image: url(img_3938.jpg);
    /* background-image: url(https://www.fashionrevolution.org/wp-content/uploads/2017/01/Cones-dunes-1.jpg);  */
    background-position: right bottom,left top;
    background-repeat: no-repeat,repeat;
    background-size: 1600px 1600px;
    
  
  
  }
  
  
  