<!-- Edit Product List -->
 <!-- <app-edit-product></app-edit-product>  -->
 <!-- <app-hospitals></app-hospitals> -->
 <!-- <app-educational></app-educational> -->

 <!-- Menu -->
 <!-- <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>  -->
   <!-- <mat-sidenav-container>
   <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-items *ngFor="let item of navItems" [item]="item"></app-menu-items>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs> </app-top-nav>
  <router-outlet></router-outlet>
</mat-sidenav-container>   -->

<!-- <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav> -->
 <!-- <app-top-nav fxHide.xs></app-top-nav> -->
<!-- 
<div id="example1">
 <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
</div>
<router-outlet></router-outlet> -->

<!-- <app-corevalue></app-corevalue> -->


   <!-- <div id="example1">
    <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
   </div> -->
  

   <!-- <div class="flex-container"> -->
       <!-- <div>
          <video width="400" controls>
              <source src="mov_bbb.mp4" type="video/mp4">
              <source src="mov_bbb.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video> -->
      <!-- <div id="img3"></div>
      <div id="img1">
          <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
         </div>
      <div id="img2"></div>
      <router-outlet></router-outlet>
    </div> -->

    <!-- <router-outlet></router-outlet> -->

    

    <app-drop-down-nav></app-drop-down-nav>            
    
    
    <!-- example-video -->
    <!-- <app-example-video></app-example-video> -->
    
    
    
    <!-- <app-diagonals></app-diagonals> -->

   
   
   <!-- <app-facilities></app-facilities> -->
   <!-- <app-products></app-products> -->