/* @import './breakpoints';
@import './theme'; */
/* .mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
} */
/* .mat-sidenav {
    width: 360px;
  }
  .mat-sidenav-container {
    background-color: white !important;
    height: 100vh;
  } */
  /* .sidenav-toolbar {
    height: 64px;
    background-color: mat-color($app-primary);
    display: flex;
    flex-direction: row;
  
    @media (max-width: 600px) {
      height: 56px;
    }
  } */
  /* .mat-nav-list {
    padding-top         :  125px;
    padding-bottom      :  25px;
  } */
  /*@include breakpoint-max(600px) { 
    .fixed-topnav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100% !important;
    }
   
    .mat-drawer-container {
      margin-top: 56px;
    }
  }*/


    /* .fixed-topnav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100% !important;
    } */

  #example1 {

    /* background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/13/43/475649e0c6016bc.jpg) repeat-y;
      -webkit-background-clip: text;
      background-clip: text; */

    background-image: url(https://www.fashionrevolution.org/wp-content/uploads/2017/01/Cones-dunes-1.jpg); 
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: 1600px 1000px;
    padding: 0px;
    margin-left: 0em;

  }

  .flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    /* background-color: DodgerBlue; */
    color: white;
    width: 800px;
    height: 800px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  #img1{
    background-image: url(IMG_3916.JPG); 
    background-position:  left top,right bottom;
    background-repeat: no-repeat, repeat;
    background-size: 800px 800px;
    padding: 0px;
    margin-left: 0em;
  }

  #img2{
    background-image: url(IMG_4291.JPG); 
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: 800px 800px;
    padding: 0px;
    margin-left: 0em;
  }

  #img3{
    background-image: url(IMG_3932.JPG); 
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: 800px 800px;
    padding: 0px;
    margin-left: 0em;
  }


  video {
    width: 100%;
    height: 1000px;
   }


   
  