<body class="news">
    <!-- <router-outlet></router-outlet> -->
    <div *ngIf="isFirst">
     <div class="top-container">
       <div @myInsertRemoveTrigger *ngIf="isShown" class="ttop">
       <br>
       <header>
        <div class="nav">
          <ul>
            <br>
            <li class="home"><a  routerLinkActive="active" routerLink="home" (click)="move()">Home</a></li>
            <li class="about"><a routerLink="aboutus" (click)="move()">About us</a></li>
            <li class="facilities"><a routerLink="facilities" (click)="move()">Facilities</a></li>
            <li class="products"><a routerLink="products" (click)="move()">Products</a>
              <ul>
                <li><a routerLink="hospital" (click)="move()">Hospitals</a></li>
                <li><a routerLink="hotel" (click)="move()">Hotels</a></li>
                <li><a routerLink="indu" (click)="move()">Industries</a></li>
                <li><a routerLink="edu" (click)="move()">Educational</a></li>
              </ul>
            </li>
            <li class="value"><a routerLink="values" (click)="move()">Values</a></li>
            <li class="value"><a routerLink="gallary" (click)="move()">Gallary</a></li>
            <li class="contact"><a routerLink="contactus" (click)="move()">Contact us</a></li>
           </ul>
        </div>
       </header>
    </div>

    
    <div class="flex-container">
      <div class="left" style="flex-grow: 5">
      <div @flyleftdown *ngIf="isShown" class="tbase">
				<mat-video [loop]="true" [autoplay]="true" [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="null"
				poster="http://117.239.247.18:8096/texinindia/image.jpg" width="300" height="150"
				 [quality]="false" [keyboard]="false" [overlay]="false	">
					<source matVideoSource src="http://117.239.247.18:8096/texinindia/fabricblue.mp4" type="video/mp4">
				</mat-video>
       </div>
       </div>

      <div class=" center" style="flex-grow:2" @flyInOut *ngIf="isShown" >
          <div class="flex-containercenter">
              <div class="fig1" @flyleftdown *ngIf="isShown">ONE</div>
              <div class="fig2">TWO</div>
              <div class="fig3">THREE</div>
          </div>
      </div>
      
      <div class="right" style="flex-grow:5">
      <div @flyrightdown *ngIf="isShown" class="tbase ">
        <!-- <mat-video [loop]="true" [autoplay]="true" [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="null"
         poster="http://117.239.247.18:8096/texinindia/image.jpg" [quality]="false" [keyboard]="false" [overlay]="false">
        </mat-video> -->
      </div>
     </div>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>

</body>