.nav ul {
    list-style: none;
    /* background-color:black; */
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    font-family: 'Times', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
  }
  
  .nav a {
    text-decoration: none;
    color:white;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
  }
  
  .nav a:hover {
    background-color: #005f5f;
  }
  
  .nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
  }
  
  /* Sub Menus */
  .nav li li {
    font-size: .8em;
  }
  
  @media screen and (min-width: 650px) {
    .nav li {
      width: 130px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
      margin-right: -4px;
    }
  
    .nav a {
      border-bottom: none;
    }
  
    .nav > ul > li {
      text-align: center;
    }
  
    .nav > ul > li > a {
      padding-left: 0;
    }
  
    /* Sub Menus */
    .nav li ul {
      position: absolute;
      display: none;
      width: inherit;
    }
  
    .nav li:hover ul {
      display: block;
    }
  
    .nav li ul li {
      display: block;
    }
  }
  
  .top-container{
    height:665px;
    width: 100%;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  .tbase{
    float: left;
    background:lightcyan;
    height: 100%;
    width : 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .ttop{
    float:right;
    /* background-color:rgb(160, 247, 247); */
    /* background-color:#00FFFF; */
    background-color:grey;
    color:tan;
    height: 20%;
    width : 100%;
    /* color: #000000; */
    font-weight: bold;
    font-size: 20px;
  }
  .imagetop{
    content:url("yarn.jpg");
  }
  .imageleft{
    content:url("left.jpg");
  }
  .imageright{
    content:url("right.jpg");    
  }

  .flex-container {
    width: 100%;
    min-height:665px;
    /* min-height: 760px; */
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    /* border: 2px solid #808080; */
    /* background-color: black; */
 }
 .flex-container div {
    /* background: #dbdfe5; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
    /* border-style: double; */
    /* border: 5px purple; */
    height:665px;
 } 

 .flex-container div.right{
	  border-style: double;
    border-color:white; 
    padding: 10px;
    width: 700px;
    text-align: left;
    float:right;
    color:black;
    font-size:1.25em;
    height:665px;
 }

 .flex-container div.left{
    border-style: double;
    border-color:white; 
    padding: 10px;
    width: 0px;
    text-align: left;
    float:none;
    overflow: hidden;
    margin-left:0px;
    font-size :1.25em;
    color :black;
    height:665px;
 }
 
 .flex-container div.center{
  background-color:grey;
  /* color:rgb(87, 4, 73); */
   height:675px;
   /* background-image: url("assets/images/yarn.jpg"); */
   background-repeat: repeat;
   /* background-image: -moz-linear-gradient(); */
   /* url("assets/images/yarn.jpg") */
   
  }

  .flex-containercenter {
    display: flex;
    flex-direction: column;
    background-color:grey;
    color:rgba(202, 200, 190, 0.897);

  }
  
  .fig1 {
    background:url("https://i.ebayimg.com/images/g/W88AAOSw78xcbMJP/s-l300.jpg");
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .fig2 {
    background:url("https://ae01.alicdn.com/kf/HTB1YVbjNXXXXXaNXVXXq6xXFXXXq/100-Cotton-4pcs-60s-Sateen-White-embroidered-hotel-duvet-cover-with-silver-grey-bed-sheet-queen.jpg_640x640.jpg");
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .fig3 {
    background:url("http://cdn.sportswearunlimited.com/media/catalog/product/cache/5/small_image/210x/9df78eab33525d08d6e5fb8d27136e95/1/0/1059-6543-17839-frontleft-hero_main.jpg");
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }