<!-- <body *ngIf="isHome" class="profilebox profilebox1">
    
    <div class="SocialIcons">
        <a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
        <a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
        <a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
    </div> -->

    <body *ngIf="isHome">
    <div class="example-button-row">
        <button mat-fab (click)="move()">Menu</button>
    </div>

    <div class="container">
      <div class="hospital" style="flex-grow: 4">
        <p>
          We  offer a wide array of eco-friendly clothing for uniforms and other
          institutional needs.
        </p>
        <br>
        
        <h4>Doctor's Apron</h4>
        <p>
          Our white cotton Doctor's appron is comfortable <br> to wear in  varied 
          customized designs. 
        </p>
        <br>

        <h4>O.T.Gowns</h4>
        <p>
          We  have an assortment of surgeon's gowns designed  <br> with skin friendly
          cotton fabric. These are  comfortable <br>to wear for long hours and provide
          protection against <br>  medium level splashes during surgical procedures.
          <br>
        </p>
        <br>

        <h4>Patient Gowns</h4>
        <p>
          Our patient gowns in cotton withstand repeated <br>laundering  in hot water
          and is fastened at the back <br>with twill tape ties.
        </p>
        
        <br>

        <h4>Casement Cloth</h4>
        <p>
          We offer casement cloth  made of a variety of fibers <br> woven  into the basic fabric.
        </p>
        
        <br>

        <h4>Hospital Bed Sheets</h4>
        <p>
          Available in a variety of patterns and colors like White,<br> Hospital Blue
          and Hospital Green, these cotton bed sheets <br>are manufactured using
          premium quality raw material.
        </p>
        
        <br>

        <h4>Pillow Covers</h4>
        <p>
          Our pillow covers are highly durable and soft to touch  <br> and manufactured in  
          a variety of elegent designs.
        </p>
        
        <br>

        <h4>Terry Towels</h4>
        <p>
          We offer Hospital White Terry Towels made from 100% <br> ring spun cotton,
          which are durable and water absorbent.
        </p>
         </div>
     
    
    
    
    
    
    
    <!-- <div> -->
    <section id="slider" style="flex-grow: 4" >
      <input type="radio" name="slider" id="s1">
      <input type="radio" name="slider" id="s2">
      <input type="radio" name="slider" id="s3" >
      <input type="radio" name="slider" id="s4">
      <input type="radio" name="slider" id="s5"   checked>
      <!-- <input type="radio" name="slider" id="s6"> -->
      <!-- <input type="radio" name="slider" id="s7"> -->
      <label for="s1" id="slide1"></label>
      <label for="s2" id="slide2"></label>
      <label for="s3" id="slide3"></label>
      <label for="s4" id="slide4"></label>
      <label for="s5" id="slide5"></label>
      <!-- <label for="s6" id="slide6"></label> -->
      <!-- <label for="s7" id="slide7"></label> -->
    
    </section>
    </div>
    <!-- </div> -->
    </body>