
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding: 20px;
    background:url(green-doctors-banner-new.jpg);
    user-select: none;
    background-repeat: no-repeat,repeat;
    background-size: 1600px,700px;
  }
  
  [type=radio] {
    display: none;
  }
  
  #slider {
    height: 35vw;
    width:20vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    /* margin: auto; */
    /* margin-left: -30%; */
    top:40%;
    min-width: 80%;
    min-height: 70%;
    height:70% ;
    border-radius: 4px;
    position: absolute;
    /* left: 0; right: 0; */
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #slide1 { 
    background: url(img_4227.jpg);
    background-repeat: no-repeat,repeat;
    background-size: 600px;
    
    /* background: url(https://ae01.alicdn.com/kf/HTB16WtpOFXXXXcPXXXXq6xXFXXXI/Summer-Women-Hospital-Medical-Scrub-Clothes-Coat-Beauty-Salon-Nurse-Uniform-Fashionable-Design-for-Women.jpg);
    background-repeat: no-repeat,repeat;
    background-size: 500px,500px; */
   }
  #slide2 {
    /* background: url(https://3.imimg.com/data3/VY/XQ/MY-3624146/healthcare-uniforms-500x500.jpg); */
    background: url(male-patient-gown.jpg);
    background-repeat: no-repeat,repeat;
    /* background-size: 500px,500px; */
  }
  #slide3 { 
    /* background: url(https://ae01.alicdn.com/kf/HTB16WtpOFXXXXcPXXXXq6xXFXXXI/Summer-Women-Hospital-Medical-Scrub-Clothes-Coat-Beauty-Salon-Nurse-Uniform-Fashionable-Design-for-Women.jpg); */
    background: url(ot-gown.jpg);
    background-repeat: no-repeat,repeat;
    background-size: 500px,500px;
   }
  #slide4 {
    background:url(hospital-bed-sheets.jpeg); 
    /* background:url(https://5.imimg.com/data5/SD/TJ/MY-37349548/nurse-hospital-uniform-500x500.jpg);  */
    background-repeat: no-repeat,repeat;
  }
  #slide5 { background:url(hospitalmain.jpg);
    background-repeat: no-repeat,repeat;
  }
  /* #slide6 {
    background: url(https://ae01.alicdn.com/kf/HTB16WtpOFXXXXcPXXXXq6xXFXXXI/Summer-Women-Hospital-Medical-Scrub-Clothes-Coat-Beauty-Salon-Nurse-Uniform-Fashionable-Design-for-Women.jpg);
    background-repeat: no-repeat,repeat;
  } */
  


.container{
  display: flex;
}
  
  

   p {
    display: inherit;
   text-align: justify;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}

h4{

    display: inherit;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    color:white; 
    /* color:rgb(226, 93, 137); */

} 

.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}
   
.profilebox1 {
  /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
  background-position: center center;
  background-size: cover;
  perspective: 450px;
  position: relative;
 }
 
 .profilebox .SocialIcons {
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 15px;
  transform: rotateY(90deg);
  transform-origin: left center 0;
  transition: all 350ms ease;
 }
 
 .profilebox .SocialIcons a {
  background: #ffffff none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  margin-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  background-color:gainsboro;
  color:black;
 }
 
 .profilebox .SocialIcons a i {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
 }
 .profilebox .SocialIcons a:nth-child(1) {
 }
 .profilebox .SocialIcons a:nth-child(2) {
 }
 .profilebox .SocialIcons a:nth-child(3) {
 }
 .profilebox:hover .SocialIcons {
  opacity: 1;
  left: 15px;
  transform: rotateY(0deg);
 }
 .profilebox .profileInfo {
  /* background: #ffffff none repeat scroll 0 0; */
  background-color:gainsboro;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
  transform: rotatex(90deg);
  transform-origin: bottom center 0;
  transition: all 350ms ease;
  opacity: 0;
  /* margin-left:100px; */
 }
 .profilebox .profileInfo h5 {
  font-size: 20px;
  margin-left:100px;
  text-align: center;
 }
 .profilebox:hover .profileInfo {
  opacity: 1;
  bottom: 15px;
  transform: rotatex(0deg);
 }
 
 h5{
   padding: 10px;
   margin-left:60px;
   width:150px;
   color:white;
 }
 h7{
   size: 5px;
 }
