

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        			 <div class="st-container">		 
					 <div class="st-scroll">	 
					 <section>
							<div ></div>
								<h2>Products</h2>
								
							<p>Since Our inception, We are offering a wide range of textile Products for the  requirements of hospitality,
		 healthcare,industrial and educational institutions like bed linen,towels and  uniforms,to name a few. </p>
						</section>
					
				
				  
					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-deco" ></div>
						<h2>Hospital</h2>
						<p>O.T.Dress<br>O.T.Towels<br>Casement<br>Bed Sheet<br>Pillow Cover<br>Terry Towels<br></p>
					</section>

					
					<section class="st-panel" id="st-panel-3">
						<div class="st-deco" ></div>
						<h2>Hotels</h2>
						<p> Bed Sheets<br> Pillow Covers<br> Terry Towels<br> </p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-4">
						<div class="st-deco"></div>
						<h2>Educational Institutions</h2>
						<p>Uniforms<br>  Hostel Bed Sheets<br> Pillow Covers<br> Towels<br> Table spread <br></p>
					</section>
					
					<section class="st-panel" id="st-panel-5">
						<div class="st-deco"></div>
						<h2>Industrial</h2>
						<p> Uniforms<br> Corporate tees<br> Corporate Polos<br>Corporate Sarees<br></p>
					</section>
				</div>
			</div>
        
	</body>
</html> -->

<html>
			<body *ngIf="isHome" class="profilebox profilebox1">
    
					<div class="SocialIcons">
						<a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
						<a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
						<a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
					</div>
		<div class="example-button-row">
			<button mat-fab (click)="move()">Menu</button>
		</div>

		<!-- <body *ngIf="isHome">		 -->
		<div class=p1>
			<div>
				<h6 style="text-align:center">
					<b>TEXIN INDIA</b>
					<span >
						  Products
					</span>
					&mdash; <b>Amarjothi Group of Companies</b> &mdash;
				</h6>
		   </div> 
		    <br>
			<br>
			<br>
			<br>
			<br>	 
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
				<div class=p2>Products</div>
				<p>Since Our inception, We are offering a wide range of textile Products for the  requirements of hospitality,
				 healthcare,industrial and educational institutions like bed linen,towels and  uniforms,to name a few. </p>

				 <br>
				 <br>
				 <br>
				 <br>
				 <br>	 
				 <br>
				 <br>
				 <br>
				 <br>
				 <br>
				 <br>
				 <br>	 
				 <br>
				  <br>
				 <br>
				 <br>	 
				 <br>
				
		</div>
		
		<div class="st-container">		 
		 <div class="st-scroll">	 
			 <!-- <button mat-fab (click)="move()">Menu</button> -->
		  <section class="st-panel st-color" id="st-panel-2">
				<div class="st-deco" ></div>
				<h2>Hospital</h2>
				<p>O.T.Dress<br>O.T.Towels<br>Casement<br>Bed Sheet<br>Pillow Cover<br>Terry Towels<br></p>
		</section>
		<section class="st-panel" id="st-panel-3">
				<div class="st-deco" ></div>
				<h2>Hotels</h2>
				<p> Bed Sheets<br> Pillow Covers<br> Terry Towels<br> </p>
			</section>
			
			<section class="st-panel st-color" id="st-panel-4">
				<div class="st-deco"></div>
				<h2>Educational Institutions</h2>
				<p>Uniforms<br>  Hostel Bed Sheets<br> Pillow Covers<br> Towels<br> Table spread <br></p>
			</section>
			
			<section class="st-panel" id="st-panel-5">
				<div class="st-deco"></div>
				<h2>Industrial</h2>
				<p> Uniforms<br> Corporate Tees<br> Corporate Polos<br>Corporate Sarees<br></p>
			</section>
		</div>
    	</div>
	</body>

	

</html>