font-face {
	font-family:'RaphaelIcons';
    font-weight: normal;
    font-style: normal;
}

/* General Demo Style */
body{
	/* font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	margin-top:0px;
	background:url(https://static.fibre2fashion.com/MemberResources/LeadResources/8/2019/2/Buyer/19160230/Images/19160230_0_cotton-spandex-blend-fabric.jpg);
	background-repeat: no-repeat;
	background-size:1400px 700px;  */
}

.p1{

	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	margin-top:0px;
	background:url(https://static.fibre2fashion.com/MemberResources/LeadResources/8/2019/2/Buyer/19160230/Images/19160230_0_cotton-spandex-blend-fabric.jpg);
	background-repeat: no-repeat;
	background-size:1400px 900px; 

}
p{
	color:white;
	font-size:29px;
	
}
.p2{
	color :#e23a6e;
	font-size:60px;
	text-align: center;
}


a{
	color: #555;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 9px;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #888;
	display: inline-block;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
@media screen and (max-width: 520px) {
	.codrops-top { display: none; }
}

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
	 /* margin-top:100px; */
	 display: block;
 }
 
 /*
  * Corrects inline-block display not defined in IE6/7/8/9 & FF3
  */
 
 audio,
 canvas,
 video {
	 display: inline-block;
	 *display: inline;
	 *zoom: 1;
 }
 
 /*
  * Prevents modern browsers from displaying 'audio' without controls
  * Remove excess height in iOS5 devices
  */
 
 audio:not([controls]) {
	 display: none;
	 height: 0;
 }
 
 /*
  * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
  * Known issue: no IE6 support
  */
 
 [hidden] {
	 display: none;
 }
 
 
 /* =============================================================================
	Base
	========================================================================== */
 
 /*
  * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
  *    http://clagnut.com/blog/348/#c790
  * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
  *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
  */
 
 html {
	 font-size: 100%; /* 1 */
	 -webkit-text-size-adjust: 100%; /* 2 */
	 -ms-text-size-adjust: 100%; /* 2 */
 }
 
 /*
  * Addresses font-family inconsistency between 'textarea' and other form elements.
  */
 
 html,
 button,
 input,
 select,
 textarea {
	 font-family: sans-serif;
 }
 
 /*
  * Addresses margins handled incorrectly in IE6/7
  */
 
 /* body {
	 margin: 0;
 }
  */
 
 /* =============================================================================
	Links
	========================================================================== */
 
 /*
  * Addresses outline displayed oddly in Chrome
  */
 
 a:focus {
	 outline: thin dotted;
 }
 
 /*
  * Improves readability when focused and also mouse hovered in all browsers
  * people.opera.com/patrickl/experiments/keyboard/test
  */
 
 a:hover,
 a:active {
	 outline: 0;
 }
 
 
 /* =============================================================================
	Typography
	========================================================================== */
 
 /*
  * Addresses font sizes and margins set differently in IE6/7
  * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
  */
 
 h1 {
	 font-size: 2em;
	 margin: 0.67em 0;
 }
 
 h2 {
	 font-size: 1.5em;
	 margin: 0.83em 0;
 }
 
 h3 {
	 font-size: 1.17em;
	 margin: 1em 0;
 }
 
 h4 {
	 font-size: 1em;
	 margin: 1.33em 0;
 }
 
 h5 {
	 font-size: 0.83em;
	 margin: 1.67em 0;
 }
 
 h6 {
	 font-size: 0.75em;
	 margin: 2.33em 0;
 }
 
 /*
  * Addresses styling not present in IE7/8/9, S5, Chrome
  */
 
 abbr[title] {
	 border-bottom: 1px dotted;
 }
 
 /*
  * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
 */
 
 b,
 strong {
	 font-weight: bold;
 }
 
 blockquote {
	 margin: 1em 40px;
 }
 
 /*
  * Addresses styling not present in S5, Chrome
  */
 
 dfn {
	 font-style: italic;
 }
 
 /*
  * Addresses styling not present in IE6/7/8/9
  */
 
 mark {
	 background: #ff0;
	 color: #000;
 }
 
 /*
  * Addresses margins set differently in IE6/7
  */
 
 p,
 pre {
	 margin: 1em 0;
 }
 
 /*
  * Corrects font family set oddly in IE6, S4/5, Chrome
  * en.wikipedia.org/wiki/User:Davidgothberg/Test59
  */
 
 pre,
 code,
 kbd,
 samp {
	 font-family: monospace, serif;
	 _font-family: 'courier new', monospace;
	 font-size: 1em;
 }
 
 /*
  * Improves readability of pre-formatted text in all browsers
  */
 
 pre {
	 white-space: pre;
	 white-space: pre-wrap;
	 word-wrap: break-word;
 }
 
 /*
  * 1. Addresses CSS quotes not supported in IE6/7
  * 2. Addresses quote property not supported in S4
  */
 
 /* 1 */
 
 q {
	 quotes: none;
 }
 
 /* 2 */
 
 q:before,
 q:after {
	 content: '';
	 content: none;
 }
 
 small {
	 font-size: 75%;
 }
 
 /*
  * Prevents sub and sup affecting line-height in all browsers
  * gist.github.com/413930
  */
 
 sub,
 sup {
	 font-size: 75%;
	 line-height: 0;
	 position: relative;
	 vertical-align: baseline;
 }
 
 sup {
	 top: -0.5em;
 }
 
 sub {
	 bottom: -0.25em;
 }
 
 
 /* =============================================================================
	Lists
	========================================================================== */
 
 /*
  * Addresses margins set differently in IE6/7
  */
 
 dl,
 menu,
 ol,
 ul {
	 margin: 1em 0;
 }
 
 dd {
	 margin: 0 0 0 40px;
 }
 
 /*
  * Addresses paddings set differently in IE6/7
  */
 
 menu,
 ol,
 ul {
	 padding: 0 0 0 40px;
 }
 
 /*
  * Corrects list images handled incorrectly in IE7
  */
 
 nav ul,
 nav ol {
	 list-style: none;
	 list-style-image: none;
 }
 
 
 /* =============================================================================
	Embedded content
	========================================================================== */
 
 /*
  * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
  * 2. Improves image quality when scaled in IE7
  *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
  */
 
 img {
	 border: 0; /* 1 */
	 -ms-interpolation-mode: bicubic; /* 2 */
 }
 
 /*
  * Corrects overflow displayed oddly in IE9
  */
 
 svg:not(:root) {
	 overflow: hidden;
 }
 
 
 /* =============================================================================
	Figures
	========================================================================== */
 
 /*
  * Addresses margin not present in IE6/7/8/9, S5, O11
  */
 
 figure {
	 margin: 0;
 }
 
 
 /* =============================================================================
	Forms
	========================================================================== */
 
 /*
  * Corrects margin displayed oddly in IE6/7
  */
 
 form {
	 margin: 0;
 }
 
 /*
  * Define consistent border, margin, and padding
  */
 
 fieldset {
	 border: 1px solid #c0c0c0;
	 margin: 0 2px;
	 padding: 0.35em 0.625em 0.75em;
 }
 
 /*
  * 1. Corrects color not being inherited in IE6/7/8/9
  * 2. Corrects text not wrapping in FF3
  * 3. Corrects alignment displayed oddly in IE6/7
  */
 
 legend {
	 border: 0; /* 1 */
	 padding: 0;
	 white-space: normal; /* 2 */
	 *margin-left: -7px; /* 3 */
 }
 
 /*
  * 1. Corrects font size not being inherited in all browsers
  * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
  * 3. Improves appearance and consistency in all browsers
  */
 
 button,
 input,
 select,
 textarea {
	 font-size: 100%; /* 1 */
	 margin: 0; /* 2 */
	 vertical-align: baseline; /* 3 */
	 *vertical-align: middle; /* 3 */
 }
 
 /*
  * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
  */
 
 button,
 input {
	 line-height: normal; /* 1 */
 }
 
 /*
  * 1. Improves usability and consistency of cursor style between image-type 'input' and others
  * 2. Corrects inability to style clickable 'input' types in iOS
  * 3. Removes inner spacing in IE7 without affecting normal text inputs
  *    Known issue: inner spacing remains in IE6
  */
 
 button,
 input[type="button"],
 input[type="reset"],
 input[type="submit"] {
	 cursor: pointer; /* 1 */
	 -webkit-appearance: button; /* 2 */
	 *overflow: visible;  /* 3 */
 }
 
 /*
  * Re-set default cursor for disabled elements
  */
 
 button[disabled],
 input[disabled] {
	 cursor: default;
 }
 
 /*
  * 1. Addresses box sizing set to content-box in IE8/9
  * 2. Removes excess padding in IE8/9
  * 3. Removes excess padding in IE7
	   Known issue: excess padding remains in IE6
  */
 
 input[type="checkbox"],
 input[type="radio"] {
	 box-sizing: border-box; /* 1 */
	 padding: 0; /* 2 */
	 *height: 13px; /* 3 */
	 *width: 13px; /* 3 */
 }
 
 /*
  * 1. Addresses appearance set to searchfield in S5, Chrome
  * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
  */
 
 input[type="search"] {
	 -webkit-appearance: textfield; /* 1 */
	 -moz-box-sizing: content-box;
	 -webkit-box-sizing: content-box; /* 2 */
	 box-sizing: content-box;
 }
 
 /*
  * Removes inner padding and search cancel button in S5, Chrome on OS X
  */
 
 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button {
	 -webkit-appearance: none;
 }
 
 /*
  * Removes inner padding and border in FF3+
  * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
  */
 
 button::-moz-focus-inner,
 input::-moz-focus-inner {
	 border: 0;
	 padding: 0;
 }
 
 /*
  * 1. Removes default vertical scrollbar in IE6/7/8/9
  * 2. Improves readability and alignment in all browsers
  */
 
 textarea {
	 overflow: auto; /* 1 */
	 vertical-align: top; /* 2 */
 }
 
 
 /* =============================================================================
	Tables
	========================================================================== */
 
 /*
  * Remove most spacing between table cells
  */
 
 table {
	 border-collapse: collapse;
	 border-spacing: 0;
 }
 /* Addition */
 /* apply a natural box layout model to all elements */
 /* By Paul Irish: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  /* body {
	overflow: auto;
} */

/* .container {
	width:100%;
	height:50%; */
  /* } */
.st-container > input{
	display: none;
	position: relative;
}

.st-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 700px;
	left: 0;
	font-family: 'Times New Roman', Times, serif;
	font-size:22px;
}

.st-container > input,
.st-container > a {
	position: fixed;
	bottom: 0px;
	width: 20%;
	cursor: pointer;
	font-size: 26px;
	height: 34px;
	line-height: 34px;
}

.st-container > input {
	opacity: 0;
	z-index: 1000;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
	background: #e23a6e;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
/* .st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #e23a6e;
	z-index: 9;
	bottom: 0;
} */

#st-control-1, #st-control-1 + a {
	left: 0;
}

#st-control-2, #st-control-2 + a {
	left: 20%;
}

#st-control-3, #st-control-3 + a {
	left: 40%;
}

#st-control-4, #st-control-4 + a {
	left: 60%;
}

#st-control-5, #st-control-5 + a {
	left: 80%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: #821134;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #821134;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.st-container > input:hover + a{
	background: #AD244F;
}

.st-container > input:hover + a:after {
	border-bottom-color: #AD244F;
}

.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.st-panel{
	background: #fff;
	overflow: hidden;
} 

#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}


/* Content elements */

.st-deco{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 50%;
	font-size:22px;
	margin-left: -100px;
	/* background: deeppink; */
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'RaphaelIcons';
    color: #fff;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 90px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	-webkit-transform: rotate(-45deg) translateY(25%);
	-moz-transform: rotate(-45deg) translateY(25%);
	-o-transform: rotate(-45deg) translateY(25%);
	-ms-transform: rotate(-45deg) translateY(25%);
	transform: rotate(-45deg) translateY(25%);
}

.st-panel h2 {
	color: #e23a6e;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 60px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 40%;
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel p {
	position: absolute;
	text-align:  center ;

	/* line-height: 22px; */
	color:white;
	
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 40%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
	font-size:35px;
	/* font-style: bold; */
	
	
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/* Colored sections */

.st-color,
.st-deco{
	/* background: #fa96b5; */
	color:white;
	background-color:pink;
	align-items: center;
}
.st-color [data-icon]:after {
	/* color: #fa96b5; */
}
.st-color .st-deco {
	/* color: #fa96b5; */
}
.st-color h2 {
	/* color: #e23a6e; */
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
} 
.st-color p {
	color:yellow;
	/* color:rgb(245, 170, 9); */
}

@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
		font-size:22px;
	}
	
	.st-container > a {
		font-size: 23px;
	}
}
@media screen and (max-width: 360px) {
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
}




#st-panel-1{
	  background:url(cotton-spandex-blend-fabric.jpg);
	  background-repeat: no-repeat;
	  /* background-size:  */
	  background-size:1400px 700px; 
	
}

#st-panel-2{
	  background:url(hospital-image.jpg);
	  background-repeat: no-repeat;
	  /* background-size:  */
	  background-size:1400px 700px;
	
}

#st-panel-3{
		/* background: url(https://www.sarahresort.com/wp-content/uploads/2016/04/Rose-Hannah-Furniture-rosehannah-38719989-1600-9161.jpg); */
	background: url(bedroom-inspiration.jpg);
	/* https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg */
	background-repeat: no-repeat;
background-size:1400px 700px;
}
#st-panel-4{
		background: url(school-uniforms.jpg);
	background-repeat: no-repeat;
	background-size:1400px 700px;

}
#st-panel-5{
	  background: url(Corporate-Blog.jpg);
	background-repeat: no-repeat;
	background-size:1400px 700px;
	
}


h6 {
	text-transform: uppercase;
	letter-spacing: .3em;
	display: inline-block;
	border: 4px double rgba(230, 91, 91, 0.438);
	border-width: 4px 0;
	padding: 2.5em 0em;
	position: absolute;
	top: 10%;
	left: 75%;
	width: 20em;
	margin: 0 0 0 -10em;
	font-size:20px;
  }
  
  span {
  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Clip Background Image */
  
  background: url(animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Animate Background Image */
  
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  
  }
  
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
  }
  
  h2{
	  top-margin:300px;
  }

  .example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}
   
.profilebox1 {
  /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
  background-position: center center;
  background-size: cover;
  perspective: 450px;
  position: relative;
 }
 
 .profilebox .SocialIcons {
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 60px;
  transform: rotateY(90deg);
  transform-origin: left center 0;
  transition: all 350ms ease;
 }
 
 .profilebox .SocialIcons a {
  background: #ffffff none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  margin-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  background-color:gainsboro;
  color:black;
 }
 
 .profilebox .SocialIcons a i {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
 }
 .profilebox .SocialIcons a:nth-child(1) {
 }
 .profilebox .SocialIcons a:nth-child(2) {
 }
 .profilebox .SocialIcons a:nth-child(3) {
 }
 .profilebox:hover .SocialIcons {
  opacity: 1;
  left: 15px;
  transform: rotateY(0deg);
 }
 .profilebox .profileInfo {
  /* background: #ffffff none repeat scroll 0 0; */
  background-color:gainsboro;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
  transform: rotatex(90deg);
  transform-origin: bottom center 0;
  transition: all 350ms ease;
  opacity: 0;
  /* margin-left:100px; */
 }
 .profilebox .profileInfo h5 {
  font-size: 20px;
  margin-left:100px;
  text-align: center;
 }
 .profilebox:hover .profileInfo {
  opacity: 1;
  bottom: 15px;
  transform: rotatex(0deg);
 }
 
 h5{
   padding: 0px;
   margin-left:60px;
   width:150px;
   color:white;
 }
 h7{
   size: 5px;
 }
