
<body *ngIf="isHome" class="profilebox profilebox1">
    
    <div class="SocialIcons">
        <a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
        <a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
        <a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
    </div>
  <!-- <div class="example-button-row">
      <button mat-fab (click)="move()">Menu</button>
  </div> -->

 <div class="flex-container">
    <button mat-fab (click)="move()">Menu</button>
   <div class="left" style="flex-grow:2">

<div class="artist">

    <p class="capital">Prem Chander.R</p>
    <p class="capital">Managing Director</p>

    <div class="artist__thumbnail">
      <img class="artist__blur" src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2016/09/18/571114.jpg?itok=vWDP3ucA">
      <img class="artist__image" src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2016/09/18/571114.jpg?itok=vWDP3ucA">
      <div class="artist__ring"></div>
      <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
      <p></p>
      <!-- <p class="capital">Artist Radio</p> -->
    </div>
  </div>
  
  <div class="artist">
    <div class="artist__thumbnail">
      <img class="artist__blur" src="https://1et31t3azwc3jxcfm1s69wb8-wpengine.netdna-ssl.com/wp-content/uploads/2016/07/rajan-premchander-md-amarjothi-spinning-mills-ltd--e1500373274386.jpg">
      <img class="artist__image" src="https://1et31t3azwc3jxcfm1s69wb8-wpengine.netdna-ssl.com/wp-content/uploads/2016/07/rajan-premchander-md-amarjothi-spinning-mills-ltd--e1500373274386.jpg">
      <div class="artist__ring"></div>
      <div class="artist__ring artist__ring--outer"></div>
    </div>
    <!-- <div class="artist__label"> -->
      <!-- <p>Floating Points</p> -->
      <!-- <p class="capital">Artist Radio</p> -->
    <!-- </div> -->
  </div>
  
  <!-- <div class="artist">
    <div class="artist__thumbnail">
      <img class="artist__blur" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYMhhzCR-jyHMo2Wlhjaa6UqA6AfibaWU9NHfAlrsVHX_WGxPV7g">
      <img class="artist__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYMhhzCR-jyHMo2Wlhjaa6UqA6AfibaWU9NHfAlrsVHX_WGxPV7g">
      <div class="artist__ring"></div>
      <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
      <p>Mos Def</p>
      <p class="capital">Artist Radio</p>
    </div>
  </div>
  
  <div class="artist">
    <div class="artist__thumbnail">
        <img class="artist__blur" src="http://www.indiantextilemagazine.in/wp-content/uploads/2014/01/Amarjothi-PremChander-pic.jpg">
        <img class="artist__image" src="http://www.indiantextilemagazine.in/wp-content/uploads/2014/01/Amarjothi-PremChander-pic.jpg">
      <div class="artist__ring"></div>
      <div class="artist__ring artist__ring--outer"></div>
    </div>
    <div class="artist__label">
      <p>BadBadNotGood</p>
      <p class="capital">Artist Radio</p>
    </div>
   </div> -->
  </div>
 



 <div class="right" style="flex-grow:5">

  <div class="container">
      <div class="item id1">
          <div class="img"></div>
          <div class="info">
              <p>Fancy Yarn</p>
              <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p> -->
              <!-- <a href="http://dribbble.com/shots/902906-Travel-Magazine?list=popular&offset=16">Source</a> -->
          </div>
      </div>

      <div class="item id2">
          <div class="img"></div>
          <div class="info">
            <p>Fabrics</p>
              <!-- <p>Another thing for a thing!</p> -->
              <!-- <a href="http://dribbble.com/shots/887990-Canada?list=popular&offset=8">Source</a> -->
          </div>
      </div>

      <div class="item id3">
          <div class="img"></div>
          <div class="info">
              <p>Hospital Uniform</p>
              <!-- <a href="http://dribbble.com/shots/887232-WIP-Artwork?list=popular&offset=5">Source</a> -->
          </div>
      </div>
      <div class="item id4">
          <div class="img"></div>
          <div class="info left">
            <p>Gallary</p>
          </div>
      </div>
      <div class="item id5">
          <div class="img"></div>
          <div class="info left">
            <p>Neps Yarn</p>
          </div>
      </div>
      <div class="item id6">
          <div class="img"></div>
          <div class="info">
            <p>Melange Yarn</p>
          </div>
      </div>
      <div class="item id7">
          <div class="img"></div>
          <div class="info left">
              <p>School Uniform</p>
          </div>
      </div>

      <div class="item id8">
        <div class="img"></div>
        <div class="info">
          <p>Sports Uniform</p>
        </div>
    </div>

    <div class="item id9">
      <div class="img"></div>
      <div class="info left">
      <p>POLO</p>
    </div>
    </div>


    <div class="item id10">
      <div class="img"></div>
      <div class="info">
          <p>Samples</p>
      </div>
    </div>

    <div class="item id11">
      <div class="img"></div>
      <div class="info left">
          <p>School Uniform</p>
      </div>
    </div>


   </div>
  </div>



</div>
</body>

