/* import url(https://fonts.googleapis.com/css?family=Roboto:300); */
.artist {
  width: 240px;
  height: 360px;
  margin-right: 20px;
  background: #282828;
}
.artist:last-child {
  margin: 0;
}
.artist__thumbnail {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
}
.artist__blur {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  z-index: 1;
}
.artist__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.artist__ring {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.2) 100%);
  z-index: 2;
  box-shadow: 4px 0 2px -4px rgba(255, 255, 255, 0.9), -4px 0 2px -4px rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.artist__ring--outer {
  width: 200px;
  height: 200px;
}
.artist__label {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
}

.capital {
  color: #7f7f7f;
  text-transform: uppercase;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818;
  color: #fefefe;
  font-family: Roboto;
  font-size: 14px;
}


.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }
  
  a {
    color: #eee;
  }
  
  .id1 {
    top: 0;
    left: 50px;
  }
  .id1 .img {
    background: url("IMG_3938.JPG") left top no-repeat;
  }
  
  .item.id1 {
    width: 100px;
    height: 100px;
  }
  
  .id2 {
    top: 180px;
    left: 200px;
  }
  .id2 .img {
    background: url("IMG_4070.JPG") left top no-repeat;
  }
  
  .item.id2 {
    width: 200px;
    height: 200px;
  }
  
  .id3 {
    top: 500px;
    left: 100px;
  }
  .id3 .img {
    background: url("IMG_4227.JPG") left top no-repeat;
  }
  
  .item.id3 {
    width: 150px;
    height: 150px;
  }
  
  .id4 {
    top: 20px;
    left: 700px;
  }
  .id4 .img {
    background: url("IMG_4233.JPG") left top no-repeat;
  }
  
  .item.id4 {
    width: 150px;
    height: 150px;
  }
  
  .id5 {
    top: 470px;
    left: 600px;
  }
  .id5 .img {
    background: url("IMG_4148.JPG") left top no-repeat;
  }
  
  .item.id5 {
    width: 110px;
    height: 110px;
  }
  
  .id6 {
    top: 50px;
    left: 400px;
  }
  .id6 .img {
    background: url("IMG_4142.JPG") left top no-repeat;
  }
  
  .item.id6 {
    width: 130px;
    height: 130px;
  }
  
  .id7 {
    top: 250px;
    left: 550px;
  }
  .id7 .img {
    background: url("IMG_4224.JPG") left top no-repeat;
  }
  
  .item.id7 {
    width: 120px;
    height: 120px;
  }


  .id8 {
    top: 250px;
    left: 25px;
  }

  .id8 .img {
    background: url("IMG_4205.JPG") left top no-repeat;
  }
  
  .item.id8 {
    width: 120px;
    height: 120px;
  }

  
  .id9 {
    top: 280px;
    left: 750px;
  }

  .id9 .img {
    background: url("IMG_4217.JPG") left top no-repeat;
  }
  
  .item.id9 {
    width: 175px;
    height: 175px;
  }

  .id10 {
    top: 475px;
    left: 360px;
  }

  .id10 .img {
    background: url("IMG_4293.JPG") left top no-repeat;
  }
  
  .item.id10 {
    width: 175px;
    height: 175px;
  }

  
  .id11 {
    top: 525px;
    left:775px;
  }

  .id11 .img {
    background: url("IMG_4199.JPG") left top no-repeat;
  }
  
  .item.id11 {
    width: 125px;
    height: 125px;
  }


  .id1, .id2, .id3, .id4, .id5, .id6, .id7, .id8, .id9, .id10, .id11{
    width: 400px;
    height: 300px;
  }
  
  .item.id1:hover, .item.id2:hover, .item.id3:hover, .item.id4:hover, .item.id5:hover, .item.id6:hover, 
  .item.id7:hover
   {
    width: 400px;
    height: 250px;
  }
  

  .item.id8:hover, .item.id9:hover, .item.id10:hover, .item.id11:hover
   {
    width: 200px;
    height: 130px;
  }

  .item {
    position: absolute;
    width: 100px;
    height: 100px;
    /*overflow: hidden;*/
    /*
    linear:       the transition will have constant speed from start to end.
    ease:         the transition will start slowly, then get faster, before ending slowly.
    ease-in:      the transition will start slowly.
    ease-out:     the transition will end slowly.
    ease-in-out:  the transition starts and ends slowly.
    cubic-bezier: define specific values for your own transition.
    */
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
    z-index: 10;
  }
  .item .img {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #eee;
    background-size: 150%;
    background-position: 50% 10%;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    /* IE 9 */
    -webkit-transform: rotate(10deg);
    /* Safari and Chrome */
    -o-transform: rotate(10deg);
    /* Opera */
    -moz-transform: rotate(10deg);
    /* Firefox */
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
  }
  
  .item:hover .img {
    background-size: 100%;
    background-position: 100% 100%;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari and Chrome */
    -o-transform: rotate(0);
    /* Opera */
    -moz-transform: rotate(0);
    /* Firefox */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    z-index: 100;
  }
  
  .item:hover {
    z-index: 100;
  }
  
  .item .info {
    width: 150px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    /*display: none; */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    -moz-transform: rotate(90deg);
    /* Firefox */
    position: absolute;
    top: 0;
    /* right: -340px; */
    right: -140px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
  }

  
  .item .info1 {
    width: 150px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    /*display: none; */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    -moz-transform: rotate(90deg);
    /* Firefox */
    position: absolute;
    top: 0;
    /* right: -340px; */
    right: -140px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
  }


  .item .info.left {
    top: 0;
    width: 150px;
    padding: 15px;
    left: -200px;
    /* left: -340px; */
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    -o-transform: rotate(-90deg);
    /* Opera */
    -moz-transform: rotate(-90deg);
    /* Firefox */
  }
  
  .item:hover .info {
    display: block;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari and Chrome */
    -o-transform: rotate(0);
    /* Opera */
    -moz-transform: rotate(0);
    /* Firefox */
    opacity: 1;
    position: absolute;
    z-index: 1;
    transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    /* Firefox 4 */
    -webkit-transition-delay: 500ms;
    /* Safari and Chrome */
    -o-transition-delay: 500ms;
    /* Opera */
  }

  
  .flex-container {
    width: 100%;
    display: -webkit-flex;     
    display: flex; 
	font-family:"Comic Sans Ms";
	font-size: 0.85em; 
}

.flex-container div.right{
    border-style: double;
    border-color:rgba(247, 242, 236, 0.959); 
    padding: 10px;
    width: 500px;
    text-align: left;
    float:right;
    color: palevioletred;
    font-size:1.25em;
    /* background:url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg); */
  }
  
  .flex-container div.left{
    border-style: double;
    border-color: rgba(247, 242, 236, 0.959); 
    padding: 10px;
    width: 10px;
    text-align: left;
    float:none;
    overflow: hidden;
    margin-left:10px;
    font-size :1.0em;
    color :white;
    /* background:url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg); */
  }

  .example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}

button{
  background-color:deeppink;
}

.profilebox1 {
  /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
  background-position: center center;
  background-size: cover;
  perspective: 450px;
  position: relative;
 }
 
 .profilebox .SocialIcons {
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 15px;
  transform: rotateY(90deg);
  transform-origin: left center 0;
  transition: all 350ms ease;
 }
 
 .profilebox .SocialIcons a {
  background: #ffffff none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  margin-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  background-color:gainsboro;
  color:black;
 }
 
 .profilebox .SocialIcons a i {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
 }
 .profilebox .SocialIcons a:nth-child(1) {
 }
 .profilebox .SocialIcons a:nth-child(2) {
 }
 .profilebox .SocialIcons a:nth-child(3) {
 }
 .profilebox:hover .SocialIcons {
  opacity: 1;
  left: 15px;
  transform: rotateY(0deg);
 }
 .profilebox .profileInfo {
  /* background: #ffffff none repeat scroll 0 0; */
  background-color:gainsboro;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
  transform: rotatex(90deg);
  transform-origin: bottom center 0;
  transition: all 350ms ease;
  opacity: 0;
  /* margin-left:100px; */
 }
 .profilebox .profileInfo h5 {
  font-size: 20px;
  margin-left:100px;
  text-align: center;
 }
 .profilebox:hover .profileInfo {
  opacity: 1;
  bottom: 15px;
  transform: rotatex(0deg);
 }
 
 h5{
   padding: 0px;
   margin-left:60px;
   width:150px;
   color:white;
 }
 h7{
   size: 5px;
 }



  