<body *ngIf="isHome" class="profilebox profilebox1">
    
    <div class="SocialIcons">
        <a href="#"><i class="material-icons">phone</i><h5>0421 4311600 / 1653</h5></a>
        <a href="#"><i class="material-icons"> phone_android </i><h5>+91 95668 22022</h5></a>
        <a href="#"><i class="fa fa-envelope fa-2x"></i><h5>sales@texinindia.com</h5></a>
    </div>
    
    <div class="example-button-row">
        <button mat-fab (click)="move()">Menu</button>
    </div>

    <div class="div1" id="one"><div class="circle__content1">T</div></div>
    <div class="div1" id="two"><div class="circle__content1">E</div></div>
    <div class="div1" id="three"><div class="circle__content1">X</div></div>
    <div class="div1" id="four"><div class="circle__content1">I</div></div>
    <div class="div1" id="five"><div class="circle__content1">N</div></div>

    <!-- <div class="div1" id="six"><div class="circle__content1">I</div></div>
    <div class="div1" id="seven"><div class="circle__content1">N</div></div>
    <div class="div1" id="eight"><div class="circle__content1">D</div></div>
    <div class="div1" id="nine"><div class="circle__content1">I</div></div>
    <div class="div1" id="tex"><div class="circle__content1">A</div></div> -->


    <p style="text-align:center" id="heading1">
        <b>TEXIN INDIA</b>
        <span id="heading">
          Contact us
        </span>
        &mdash; <b>Amarjothi Group of Companies</b> &mdash;
      </p>
<br>
<br>
<br>

<!-- <div class=t1>
</div>
<div class=t2>
</div> -->

    <div class="flex-container">
      
        <div class="left" style="flex-grow: 3">
          <h2 style="text-align:left">Contact</h2>
          <p style="text-align:left"><span class="material-icons" style="text-align:left">person_pin_circle</span>
            <b> Amarjothi House</b>
          </p>
          <p style="text-align:left" class="tab"> <b>157, Kumaran Road</b></p>
          <p style="text-align:left" class="tab"> <b>Tirupur - 641 601</b></p>
          <p style="text-align:left" class="tab"> <b>TamilNadu</b></p>
          <p style="text-align:left" class="tab"> <b>India</b></p>
          
          <p style="text-align:left"> <span class="material-icons">phone</span><b> 0421 4311600 / 1653</b></p>
          <p style="text-align:left"><span class="material-icons"> phone_android </span><b> 91 95668 22022</b></p>
          <p style="text-align:left"><b>Fax:0421 4326694</b></p>
          <!-- <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span> -->
          <p style="text-align:left"><span class="fa fa-envelope fa-2x"></span> <b>info@texinindia.com</b></p> 
          <p style="text-align:left"><span class="fa fa-envelope fa-2x"></span> <b>sales@texinindia.com</b></p> 
        </div>
  
        <div class="right" style="flex-grow: 9">
          <div class="row">
            <h2 style="text-align:left">Enquiry</h2>
          </div>
        <div class="wrapper">
          <!-- <form action="" class="ccform"> -->
            <div class="ccfield-prepend">
              <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
              <input class="ccformfield" type="text" placeholder="Full Name" required>
            </div>
            <div class="ccfield-prepend">
              <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span>
              <input class="ccformfield" type="text" placeholder="Email" required>
            </div>
            <div class="ccfield-prepend">
              <span class="ccform-addon"><i class="fa fa-mobile-phone fa-2x"></i></span>
              <input class="ccformfield" type="text" placeholder="Phone">
            </div>
            <div class="ccfield-prepend">
              <span class="ccform-addon"><i class="fa fa-info fa-2x"></i></span>
              <input class="ccformfield" type="text" placeholder="Subject" required>
            </div>
            <div class="ccfield-prepend">
              <span class="ccform-addon"><i class="fa fa-comment fa-2x"></i></span>
              <textarea class="ccformfield" name="comments" rows="8" placeholder="Message" required></textarea>
            </div>
            <div class="ccfield-prepend">
              <input class="ccbtn" type="button" value="Submit">
            </div>
          <!-- </form> -->
         </div>
        </div>
       </div>

       <div id="background-wrap">
          <div class="bubble x1"><div class="circle__content">Texin India </div></div>
          <div class="bubble x2"><div class="circle__content">Texin India </div></div>
          <div class="bubble x3"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x4"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x5"><div class="circle__content">Texin India </div></div>
          <div class="bubble x6"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x7"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x8"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x9"><div class="circle__content">Texin India </div></div>
          <div class="bubble x10"><div class="circle__content">Texin India </div></div>
          <div class="bubble x11"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x12"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x13"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x14"><div class="circle__content">Texin India  </div></div>
          <div class="bubble x15"><div class="circle__content">Texin India  </div></div>
        </div>


       
      
      </body>
      
    