body{
  
      /* background-image : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsSudSdHq9Y84-1Q0gwAcYMC9944eIxB-aZ-PX9HYpMXXoBuq2);  */
      /* background-image : url(https://previews.123rf.com/images/ievavincer/ievavincer1108/ievavincer110800004/10108056-ivory-textile-wallpaper-floral-pattern-background-.jpg); */
      /* background-image : url(https://st3.depositphotos.com/9112474/18922/i/1600/depositphotos_189224364-stock-photo-backgrounds-of-fabrics-and-textiles.jpg); */
      /* background-image : url(https://cdn.pixabay.com/photo/2018/06/29/23/51/fabric-3506846__340.jpg); */
      /* background-image : url(https://cdn.pixabay.com/photo/2018/06/29/23/51/fabric-3506846__340.jpg); */
      /* background-repeat: no-repeat,repeat; */
      /* background-image : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjN-MjC-2sQOQ1r91gWxSiLU4pBHjyF_yMmbMGXoOCKcSv0VTF); */
}
span
{
    text-align : "left";
}

#heading1{
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  border: 4px double rgba(230, 91, 91, 0.438);
  border-width: 4px 0;
  padding: 2.5em 0em;
  position: absolute;
  top: 010%;
  left: 65%;
  width: 20em;
  margin: 0 0 0 -10em;
  font-size:20px;
}

#heading{

  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  /* text-shadow: 0 0 80px rgba(255,255,255,.5); */

/* Clip Background Image */

  background: url(animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

 
@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.tab {
    margin-left: 2em
   }

   .example-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 900;
  }
  
  .example-container > {
    width: 100%;
    /* font-size: 25px;
    font-weight: 900; */
  }

  .container {
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
 }
 

  /* .left {
    border: 2px solid palevioletred;
    outline: rgb(236, 15, 144) solid 5px;
    padding: 10px;
    width: 200px;
    text-align: left;
    float:none;
    overflow: hidden;
  } */
  /* .right{

    border: 2px solid palevioletred;
    outline: rgb(236, 15, 144) solid 5px;
    padding: 10px;
    width: 700px;
    text-align: left;
    float:right;
  } */
  /* body {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
  } */


  .flex-container {
    width: 80%;
    min-height: 300px;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    /* border: 2px solid #808080; */
}
.flex-container div {
    /* background: #dbdfe5; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
    /* border-style: double; */
    /* border: 5px purple; */
      
}

.flex-container div.right{
	  border-style: double;
    border-color: palevioletred; 
    padding: 10px;
    width: 700px;
    text-align: left;
    float:right;
    color:black;
    font-size:1.25em;
}

.flex-container div.left{
    border-style: double;
    border-color: palevioletred; 
    padding: 10px;
    width: 200px;
    text-align: left;
    float:none;
    overflow: hidden;
    margin-left:100px;
    font-size :1.25em;
    color :black;
}

h2{
      color: Black;
}




/* body {
	background: #f29107;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
	margin:0;
	padding:0;
	padding-bottom:60px;
} */
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}
.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 800px;
}
.ccfield-prepend{
	margin-bottom:10px;
  width:100%;
  /* border:2px;
  border-color:black; */
}

.ccform-addon{
  /* color:#f8ae45;  */
  color:black;
	float:left;
	padding:8px;
	width:8%;
	background:#FFFFFF;
	text-align:center;	
}

.ccformfield {
	color:#000000; 
	background:#FFFFFF;
  border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	display:block;
	border:none;
  /* background:#f8ae45; */
  background:green;
	color:#FFFFFF;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#d8850e;

}
.credit {
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}


/* body {
	background: #00b4ff;
	color: #333;
	font: 100% Lato, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
} */

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
  z-index: -1;
  /* background-color:lightcyan; */
  background-color:lightskyblue;
}



@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
} 

.circle__content {
  display: table-cell;
  padding: 5em;
  vertical-align: top;
  color:black;
  font-size:20px;
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
  transform: scale(0.6);
  
  /* width: 15px;
  height: 50px;
  margin-left:200px;
  position: relative;
  -webkit-animation: mymoveright 15s ; 
  animation: mymoveright 15s ;
  animation-duration: 4s; */
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x11 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 70%;
top: 25;

-webkit-transform: scale(0.75);
-moz-transform: scale(0.75);
transform: scale(0.75);
}

.x12 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 85%;
top: 45;

-webkit-transform: scale(1.0);
-moz-transform: scale(1.0);
transform: scale(1.0);
}

.x13 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: -5%;
top: 15%;

-webkit-transform: scale(0.75);
-moz-transform: scale(0.75);
transform: scale(0.75);
}

.x14 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 15%;
top: 60%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x15 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 30%;
top: 50%;

-webkit-transform: scale(0.7);
-moz-transform: scale(0.7);
transform: scale(0.7);
}


.bubble {
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
  height: 200px;
	position: absolute;
  width: 200px;
  
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); 
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); 
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); 
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); 

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}


div {
  animation: rotate-all 2s 0 infinite linear alternate;
}

.div1 {
  width: 50px;
  height: 50px;
  background-color: #669999;
  position: relative;
  margin: auto;
  animation: square-to-circle 2.5s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;

}

.div2 {
  width: 60px;
  height: 60px;
  background-color: #669999;
  position: relative;
  margin: auto;
  animation: square-to-circle2 2.5s .42s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;
}

#one {
  top: 10px;
  left: 500px;
}
 
#two {
  top: 20px;
  left:500px;
  /* right: 80px; */
}

#three {
  top: 30px;
  left:500px;
  /* left: -30px; */
}

#four {
  top: 40px;
  left:500px;
  /* bottom: 20px;
  left: 80px; */
}

#five {
  top: 50px;
  left:500px;
  /* bottom: -10px;
  left: 80px; */
}

#six {
  top: 60px;
  left:500px;
  /* bottom: -10px;
  left: 80px; */
}

#seven {
  top: 70px;
  left:500px;
  /* bottom: -10px;
  left: 80px; */
}

#eight {
  top: 80px;
  left:500px;
  /* bottom: -10px;
  left: 80px; */
}
#nine {
  top: 90px;
  left:500px;
  /* bottom: -10px;
  left: 80px; */
}
#ten {
  top: 100px;
  left:500px;
  /* bottom: -10px;
  left: 80px; */
}


@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    
    transform:rotate(45deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:darksalmon;
    transform:rotate(135deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(180deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(315deg);
  }
  100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(404deg);
  }
}

@keyframes square-to-circle2 {
  0%  {
    border-radius:0 0 0 0;
    
    transform:rotate(45deg);
  }
  25%  {
    border-radius:0 0 50% 0;
    background:darksalmon;
    transform:rotate(135deg);
  }
  50%  {
    border-radius:0 0 50% 50%;
    background:indianred;
    transform:rotate(180deg);
  }
  75%  { 
    border-radius:50% 0 50% 50%;
    background:lightcoral;
    transform:rotate(315deg);
  }
  100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(404deg);
  }
}

.circle__content1 {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
  color:black;
  font-size:20px;
}


.t1 {
  width: 500px;
  height: 150px;
  margin-left:200px;
  /* background: red; */
  position: relative;
  -webkit-animation: mymoveright 15s ; 
  animation: mymoveright 15s ;
  animation-duration: 4s;
}

 @-webkit-keyframes mymoveleft {
  from {left: 0px;}
  to {left: 1500px;}
} 

.t2{
  width: 200px;
  height: 500px;
  margin-left:350px;
  /* background: red; */
  position: relative;
  -webkit-animation: mymoveright 15s; 
  animation: mymoveright 15s ;
  animation-duration: 4s;
}

@keyframes mymoveright {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  /* 50%  {background-color:blue; left:200px; top:200px;} */
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {background-color:red; left:0px; top:0px;}
} 


.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}

.profilebox1 {
  /* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
  background-position: center center;
  background-size: cover;
  perspective: 450px;
  position: relative;
 }
 
 .profilebox .SocialIcons {
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 15px;
  transform: rotateY(90deg);
  transform-origin: left center 0;
  transition: all 350ms ease;
 }
 
 .profilebox .SocialIcons a {
  background: #ffffff none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  margin-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  background-color:gainsboro;
  color:black;
 }
 
 .profilebox .SocialIcons a i {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
 }
 .profilebox .SocialIcons a:nth-child(1) {
 }
 .profilebox .SocialIcons a:nth-child(2) {
 }
 .profilebox .SocialIcons a:nth-child(3) {
 }
 .profilebox:hover .SocialIcons {
  opacity: 1;
  left: 15px;
  transform: rotateY(0deg);
 }
 .profilebox .profileInfo {
  /* background: #ffffff none repeat scroll 0 0; */
  background-color:gainsboro;
  bottom: 0;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
  transform: rotatex(90deg);
  transform-origin: bottom center 0;
  transition: all 350ms ease;
  opacity: 0;
  /* margin-left:100px; */
 }
 .profilebox .profileInfo h5 {
  font-size: 20px;
  margin-left:100px;
  text-align: center;
 }
 .profilebox:hover .profileInfo {
  opacity: 1;
  bottom: 15px;
  transform: rotatex(0deg);
 }
 
 h5{
   padding: 0px;
   margin-left:60px;
   width:150px;
   color:black;
 }
 h7{
   size: 5px;
 }
