
.flex-container1 {
	width: 100%;
	min-height: 300px;
	display: -webkit-flex; /* Safari */     
	display: flex; /* Standard syntax */
	/* border: 2px solid #808080; */
	font-family:"Comic Sans Ms";
	font-size: 0.85em;
}


.flex-container {
    width: 100%;
    min-height: 300px;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
		/* border: 2px solid #808080; */
		font-family:"Comic Sans Ms";
		font-size: 0.85em;

}

.flex-container div {
    /* background: #dbdfe5; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
		flex: 1; /* Standard syntax */
		
    /* border-style: double; */
    /* border: 5px purple; */
      
}

/* .flex-container div.right{
	border-style: double;
    border-color: palevioletred; 
    padding: 10px;
    width: 700px;
    text-align: left;
    float:right;
    color:black;
    font-size:1.25em;
} */

.flex-container div.left{
    border-style: double;
		border-color: palevioletred; 
		/* background:grey; */
    padding: 10px;
    width: 200px;
    text-align: left;
    float:none;
    overflow: hidden;
    margin-left:60px;
		font-size :1.25em;
		/* color:rgb(248, 9, 140); */
		color:rgb(0, 109, 128);
		/* background:black; */
		border: 2px solid #808080;
}
p{
	text-align:"justify";
}
.flex-container1{
	margin-left:100px;
}

/* [SLIDER] */
#slider,  #slider .slide{
	width: 500px;
	height: 200px;
	margin-left :0px;
	}
	
  #slider {
	overflow: hidden;
	margin-left :0px;
	font-size: 1.25em;
	border: 2px solid #808080;
	font-family : "Comic Sans Ms";
	color:rgb(248, 9, 140);
	/* background: #ffd7d1; */
	}
	
  #slider .container {
	position: relative;
	width: 9000px; /* Assign an insanely large width */
	top: 0;
	right: 0;
	animation: slide-animation 50s infinite;
	}
	
  #slider .slide {
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 10px 20px;
  }
  
  /* [ANIMATION] */
  @keyframes slide-animation {
	0% { 
	  opacity: 0;
	  right: 0;
	}
	11% {
	  opacity: 1;
	  right: 0; 
	}
	22% { right: 100%; }
	33% { right: 100%; }
	44% { right: 200%; }
	/* 55% { right: 200%; }
	66% { right: 300%; }
	77% { right: 300%; }
	88% {
	  opacity: 1;
	  right: 400%; 
	}
	100% {
	  opacity: 0;
	  right: 400%;
	} */
  }
  
  /* [DOES NOT MATTER] */
  html, body {
	font-family: "arial";
	/* background-color:rgb(0, 195, 255); */
	/* color:rgb(0, 195, 255); */
	/* background-color: */

	/* background: #ffe9d8; */
  }
  h1 {
	text-align: center;
	}
	
	.room{
    margin-left :0px;  
    height: 600px;
    width : 500px;
    color :black;
    
    /* border: 1px solid black; */
    
  }

.roomHeight{
    margin-left :0px;
		height : 175px;
		width : 550px;
    /* background-color:rgba(50,20,20,20); */
    border: 1px white;
    background-color: white; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right, blue,gray); Standard syntax (must be last) */
    /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwIFZ8rFfsDMix0svBASoPaSxFoE5rODukxWqRMjy2hirh_4P);  */
    /* opacity: 0.8; */
    /* filter: alpha(opacity=70); For IE8 and earlier */
    /* font-size:2em; */
    /* font-style:"color:  rgb(100, 47, 100);"; */
    
}

.roomTail{
    margin-left :105px;
    width : 300px;
    height : 625px;
    background-color: white; /* For browsers that do not support gradients */
    /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwIFZ8rFfsDMix0svBASoPaSxFoE5rODukxWqRMjy2hirh_4P);  */
    /* background-image: linear-gradient(to bottom right, pink,gray); Standard syntax (must be last) */
    border: 1px white;
    /* opacity: 0.8;
    filter: alpha(opacity=70);  */
    /* For IE8 and earlier */
    
}

html, body, div, applet, object, iframe, h1, h2, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

/* article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block } */

/* body { line-height: 1 } */

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

span {
	font: 700 3em/1 "Oswald", sans-serif;
	letter-spacing: 0;
	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255,255,255,.5);
	
	/* Clip Background Image */
	
	background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
	
	/* Animate Background Image */
	
	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;
	
	/* Activate hardware acceleration for smoother animations */
	
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	
	}

	@-webkit-keyframes aitf {
		0% { background-position: 0% 50%; }
		100% { background-position: 100% 50%; }
		}
		.img1{
			background-clip: url(https://www.cilentodesignerwear.com/wp-content/uploads/2018/10/PPTEAPKE0003-BLM3-HORIZON.jpg);
		}

		.p1 {
			text-transform: uppercase;
			letter-spacing: .3em;
			display: inline-block;
			border: 4px double rgba(230, 91, 91, 0.438);
			border-width: 4px 0;
			padding: 2.5em 0em;
			position: absolute;
			top:550px;
			/* top: 35%; */
			left: 75%;
			width: 20em;
			margin: 0 0 0 -10em;
			font-size:20px;
		}
		.blinking{
			text-align: right;
			font-size:40px;
			color:black;
			font-style: bold;
			font-family:"Comic Sans Ms";
		}
		
		button{
			align-items: center;
		}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* Fallback for hidden attribute */

hidden { display: none; }

/**
 * Keyframes for autoplay
 */
@-webkit-keyframes 
autoplay {   /* position of the first slide */
  0% {
 left: 0;
}
  /* position of the second slide */
  25% {
 left: -40.625rem;
}
  /* position of the third slide */
  50% {
 left: -81.25rem;
}
  /* position of the fourth slide */
  100% {
 left: -121.875rem;
}
}
@keyframes 
autoplay {   /* position of the first slide */
  0% {
 left: 0;
}
  /* position of the second slide */
  25% {
 left: -40.625rem;
}
  /* position of the third slide */
  50% {
 left: -81.25rem;
}
  /* position of the fourth slide */
  100% {
 left: -121.875rem;
}
}

/**
 * Slider
 */

.slider {
  position: relative;
  /* top margin is for purposes of demo */
	/* margin-top: 3rem; */
	margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  /* width: 40.625rem;
	height: 26.25rem; */
	width: 100.00rem;
  height:30.00rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.slider__list {
  position: absolute;
  left: 0;
	width: 162.5rem;
	/* width: 200.5rem; */
}

.slider__slide { float: left; }

/**
 * Slider control
 */

.slider__control {
  margin-right: auto;
	margin-left: auto;
	width: 10rem;
  /* width: 4.5rem; */
  font-family: sans-serif;
}

.slider__control label {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 4.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: transparent;
  /* background: #ddd; */
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.slider__control label:before {
  content: "autoplay";
  position: absolute;
  top: 2.0rem;
  left: 0;
  color: #333;
  font-size: .95rem;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__control label:after {
  content: "";
  position: absolute;
 top: .25rem;
 left: .25rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  background: #fff;
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slider__switch:checked + .slider > .slider__list {
  -webkit-animation-name: autoplay;
  animation-name: autoplay;
  /* This will change the time it takes to move to next slide */
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.slider__switch:checked + .slider + .slider__control > label { background: #455a64; }

.slider__switch:checked + .slider + .slider__control > label:after { left: 2.75rem; }


body {
	perspective: 1100px;
	/* background-color:ghostwhite; */
	/* background-color:gainsboro; */
	/* background-color: */
	/* background-color: #a9b8f8; */
		/* background: white; */
		background-image:url("https://img.freepik.com/free-photo/pattern-detail-grooved-white-fabric-background-abstract_3236-1632.jpg?size=626&ext=jpg");
		/* background-image:url("https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg"); */
}

* {
  transition: all 1s ease;
}

.img {
  display: none !important;
  opacity: 0 !important;
  position: Absolute !important;
  left: -999%;
  top: -999%;
}

.box {
  position: relative;
  width: 85%;
  margin: 5% ;
	padding-bottom: 25%;
	top:0;
	/* background-color:black; */
	
  /* transform: rotateY(25deg);
  transform-style: preserve-3d; */
}
.box div.top {
  position: absolute;
  top: 0;
  width: 32%;
  height: 100%;
  float: left;
  /* background-image: url("https://www.easypano.com/images/pw/v3/banner.jpg"); */
  background-size: auto 100%;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden !important;
  /* prevent jagged edges in firefox */
  -webkit-animation: changeIt 25s infinite;
  /* Safari 4.0 - 8.0 */
  animation: changeIt 25s infinite;
}

.box div.top:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgba(26, 188, 156, 0.15); */
}
.box .left {
  left: 0;
  background-position: 0% 0;
}
.box .center {
  left: 34.83%;
  background-position: -100% 0;
}
.box .right {
  left: 69.66%;
  background-position: -197% 0;
}
.box div.top > .side {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 10%;
  height: 100%;
  /* background: url("https://www.easypano.com/images/pw/v3/banner.jpg"); */
  background-size: auto 100%;
  transform-origin: 100% 50%;
  transform: rotateY(-90deg);
  -webkit-backface-visibility: hidden !important;
  -webkit-animation: changeIt 25s infinite;
  /* Safari 4.0 - 8.0 */
  animation: changeIt 25s infinite;
}

.box div.top > .side:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgba(26, 188, 156, 0.15); */
}
.box .left > .side {
  background-position: 0% 0;
}
.box .center > .side {
  background-position: -798% 0px !important;
}
.box .right > .side {
  background-position: -2000.4% 0 !important;
}

.example-button-row button,
.example-button-row a {
	/* margin-right: 8px; */
	margin-left: 650px;
	color:white;
	background-color:deeppink;
	align-items: center;
}


@-webkit-keyframes changeIt {
	0% {
    background-image: url(https://cdn1.byjus.com/wp-content/uploads/2018/11/chemistry/wp-content/uploads/2016/08/Plant-Fibers-Cotton-And-Jute.png);
	}
  10% {
		background-image: url("IMG_4086.JPG");
    /* background-image: url(https://www.easypano.com/images/pw/v3/banner.jpg); */
  }
  25% {
		background-image: url("IMG_4215.JPG");		
    /* background-image: url(https://www.publicdomainpictures.net/pictures/170000/velka/beautiful-landscape-panorama-1462783515FyK.jpg); */
  }
  40% {
		background-image: url("IMG_3999.JPG");
    /* background-image: url(https://www.publicdomainpictures.net/pictures/30000/velka/arizona-sunrise-panarama-1348420056Bcg.jpg); */
  }
  60% {
		background-image: url(http://aroobaenterprises.yolasite.com/resources/Best_Dyed_Terry_Towel.jpg);
  }
  80% {
    background-image: url(http://bizship.com/wp-content/uploads/2016/09/terry-towel-coloured.jpg);
	}
	100% {
    background-image: url(http://mielkeoil.co/wp-content/uploads/2019/02/rib-cord-bedspreads-medium-size-of-blend-bedspread-twin-light-blue-home-cotton-herringbone-spreads-ble.jpg);
  }
}
/* Standard syntax */
@keyframes changeIt {

	0% {
    background-image: url(https://cdn1.byjus.com/wp-content/uploads/2018/11/chemistry/wp-content/uploads/2016/08/Plant-Fibers-Cotton-And-Jute.png);
	}
  10% {
		/* background-image: url("IMG_3935.JPG"); */
		/* background-image: url(http://www.easypano.com/images/pw/v3/banner.jpg); */
		background-image: url("IMG_4086.JPG");
  }
  25% {
		background-image: url("IMG_4215.JPG");		
    /* background-image: url(http://www.publicdomainpictures.net/pictures/170000/velka/beautiful-landscape-panorama-1462783515FyK.jpg); */
  }
  40% {
			background-image: url("IMG_3999.JPG");
    /* background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/arizona-sunrise-panarama-1348420056Bcg.jpg); */
  }
  60% {

    background-image: url(http://aroobaenterprises.yolasite.com/resources/Best_Dyed_Terry_Towel.jpg);
  }
  80% {
    background-image: url(http://bizship.com/wp-content/uploads/2016/09/terry-towel-coloured.jpg);
	}
  100% {
    background-image: url(http://mielkeoil.co/wp-content/uploads/2019/02/rib-cord-bedspreads-medium-size-of-blend-bedspread-twin-light-blue-home-cotton-herringbone-spreads-ble.jpg);
  }
}
/* Profile Link */
/* Profile Link */
.button.me {
  font-size: 36px;
  font-size: 3vw;
  position: absolute;
  bottom: -75%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  transition: opacity .5s ease;
  border-radius: 5px;
  z-index: 9999;
}
@media (max-width: 100vw) {
  .button.me {
    font-size: 3vw;
  }
}
@media (min-width: 1200px) {
  .button.me {
    font-size: 36px;
  }
}
.button.me:hover {
  opacity: 1;
}


h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 10px 30px;
  text-align: right;
  /* text-transform: uppercase; */
  text-rendering: optimizeLegibility;
}
h1.elegantshadow {
  color:Yellow;
  background-color: #e7e5e4;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}



/* Hover */

.list-block {
  float: left;
  margin: 1%;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}
.list-block figure {
  position: relative;
  display: block;
  color: black;
  text-align: center;
}


.list-block figure:after {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transform: skew(-60deg) scaleX(0);
    -ms-transform: skew(-60deg) scaleX(0);
    transform: skew(-60deg) scaleX(0);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.0s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .list-block figure:hover:after {
    -webkit-transform: skew(-60deg) scaleX(1);
    -ms-transform: skew(-60deg) scaleX(1);
    transform: skew(-60deg) scaleX(1); 
    -moz-transition: all 400ms cubic-bezier(0, 0, 0, 0);
    -o-transition: all 400ms cubic-bezier(0, 0, 0, 0);
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0, 0);
    transition: all 400ms cubic-bezier(0, 0, 0, 0); 
  }

  .list-block figure:hover figcaption h2,
  .list-block figure:hover figcaption p {
    -moz-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }


	.list-block figure:hover figcaption h2 {
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
	}
	.list-block figure:hover figcaption p {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}
	.list-block img {
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
		max-width: 100%;
		min-width: 100%;
		-moz-transition: opacity 0.35s ease;
		-o-transition: opacity 0.35s ease;
		-webkit-transition: opacity 0.35s ease;
		transition: opacity 0.35s ease;
	}
	.list-block figcaption {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 1;
	}
	.list-block h2,
	.list-block p {
		margin: 0;
		width: 100%;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}
	.list-block h2 {
		padding: 0 30px 10px;
		display: inline-block;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 24px;
	}
	.list-block p {
		padding: 0 50px;
		font-size: 14px;
		text-transform: uppercase;
	}
	
	.demo-2 figure figcaption p {
			margin-top: -45px;
		}
		.demo-2 figure:after {
			-webkit-transform: skew(-45deg) scaleX(0);
			-ms-transform: skew(-45deg) scaleX(0);
			transform: skew(-45deg) scaleX(0);
		}
		.demo-2 figure:hover:after {
			-webkit-transform: skew(45deg) scaleX(1);
			-ms-transform: skew(45deg) scaleX(1);
			transform: skew(45deg) scaleX(1);
		}
		.demo-2 figure:hover figcaption p {
			margin-top: 0;
		}


		.demo-3 figure figcaption {
			-moz-transform: translateY(-10%);
			-ms-transform: translateY(-10%);
			-webkit-transform: translateY(-10%);
			transform: translateY(-10%);
		}
		.demo-3 figure figcaption h2,
		.demo-3 figure figcaption p {
			filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
			opacity: 1;
		}
		.demo-3 figure:after {
			-webkit-transform: skew(0deg) scaleX(1);
			-ms-transform: skew(0deg) scaleX(1);
			transform: skew(0deg) scaleX(1);
		}
		.demo-3 figure:hover:after {
			-webkit-transform: skew(45deg) scaleX(0);
			-ms-transform: skew(45deg) scaleX(0);
			transform: skew(45deg) scaleX(0);
		}
		.demo-3 figure:hover figcaption {
			-moz-transform: translateY(-10%);
			-ms-transform: translateY(-10%);
			-webkit-transform: translateY(-10%);
			transform: translateY(-10%);
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			opacity: 0;
		}
		.demo-3 figure:hover img {
			-moz-transform: scale(1.2, 1.2);
			-ms-transform: scale(1.2, 1.2);
			-webkit-transform: scale(1.2, 1.2);
			transform: scale(1.2, 1.2);
			-moz-transition: all 0.6s ease;
			-o-transition: all 0.6s ease;
			-webkit-transition: all 0.6s ease;
			transition: all 0.6s ease;
		}
		.demo-3 figure img {
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	

		/* body {
			color: #6b6b6b;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			line-height: 24px;
		} */
		.profilebox {
			width: 700px;
			height: 150px;
			background: #eee;
			cursor: pointer;
			float: left;
			margin: 30px;
		}
		.profilebox1 {
			/* background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
			background-position: center center;
			background-size: cover;
			perspective: 450px;
			position: relative;
		}
		.profilebox .SocialIcons {
			display: flex;
			flex-direction: column;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 15px;
			transform: rotateY(90deg);
			transform-origin: left center 0;
			transition: all 350ms ease;
		}
		.profilebox .SocialIcons a {
			background: #ffffff none repeat scroll 0 0;
			font-size: 20px;
			height: 50px;
			margin-bottom: 1px;
			position: relative;
			text-align: center;
			width: 50px;
		}
		.profilebox .SocialIcons a i {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		.profilebox .SocialIcons a:nth-child(1) {
		}
		.profilebox .SocialIcons a:nth-child(2) {
		}
		.profilebox .SocialIcons a:nth-child(3) {
		}
		.profilebox:hover .SocialIcons {
			opacity: 1;
			left: 15px;
			transform: rotateY(0deg);
		}
		.profilebox .profileInfo {
			background: #ffffff none repeat scroll 0 0;
			bottom: 0;
			height: 50px;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			width: 90%;
			transform: rotatex(90deg);
			transform-origin: bottom center 0;
			transition: all 350ms ease;
			opacity: 0;
		}
		.profilebox .profileInfo h3 {
			font-size: 20px;
			margin: 15px 0;
			text-align: center;
		}
		.profilebox:hover .profileInfo {
			opacity: 1;
			bottom: 15px;
			transform: rotatex(0deg);
		}
